.about-resources {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.about-resources h1, .about-resources h2 {
    font-weight: bold;
}

.about-resources h2 {
    margin-top: 10px;
    font-size: 0.9em;
    margin-left: 20px;
    font-size: 0.9em;
    margin-bottom: 5px;
    font-weight: bold;
}

.about-resources p {
    font-weight: normal;
    font-size: 0.8em;
    margin-left: 20px;
    margin-bottom: 10px;
}

.about-resources ul {
    font-weight: normal;
    font-size: 0.8em;
    margin-left: 30px;
    margin-bottom: 10px;
    list-style-type: disc;
    padding-left: 10px;
}

.about-sponsor table {
    width: 100%;
}

.about-sponsor td {
    padding: 8px;
    vertical-align: top;
}