.diff-container {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

.diff-header {
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(rgb(255,255,255)),to(rgb(221,221,221)));
    background: -moz-linear-gradient(#fff,rgb(221,221,221));
    padding: 5px;
}

.diff-header a {
    color: #000;
}

.diff-container .syntaxhighlighter {
    border: 0px !important;
    margin: 5px !important;
}

.diff-ul {
    border-top: 1px solid #eee;
    margin-bottom: 20px;
}

.diff-ul li {
    border-bottom: 1px solid #eee;
    margin: 2px;
}

.diff-ul .plus, .diff-ul .minus {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    margin-left: 5px;
}

.diff-ul .plus {
    background-color: #090
}

.diff-ul .minus {
    background-color: #900;
}