pre, .diff-header, .diff-ul li {
    font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table {
    border-collapse: separate;
    border-spacing: 0;
}
/* float:none prevents the span-x classes from breaking table-cell display */
caption, th, td {
    text-align: left;
    font-weight: normal;
    float:none !important;
}
table, th, td {
    vertical-align: middle;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

/* Remember to define your own focus styles! */
:focus { outline: 0; }

button, body {
font-family: Arial,Helvetica,sans-serif;
}

legend { padding: 5px; font-size: 1.1em; font-weight: bold }

fieldset { border: 1px solid #E9E9E9; }

label span {
    display: inline-block;
    width: 125px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

label span img {
    padding: 2px;
    padding-right: 5px;
    float: left;
}

label input[type="text"], label select {
    width: 200px;
}

.strong {
    font-weight: bold;
}

.big-logo {
  margin: 42px auto 44px auto;
  display: block;
  width: 322px;
  height: 58px;
  background: transparent url('/static/images/logo.png') no-repeat -1px -1px;
}

.small-logo {
  position: relative;
  margin: 0 12px 0 0;
  float:left;
  width: 180px;
  height: 34px;
  background: transparent url('/static/images/logo.png') no-repeat -1px -68px;
}

#author-results ul  {
    display: inline-block;
    margin: 10px 0;
}

#author-results li {
    float: left;
    width: 100px;
    padding: 5px 5px 5px 45px;
    margin-right: 10px;
    border: 1px solid white;
    overflow: hidden;
    height: 50px;
}

#author-results li:hover {
    border: 1px solid #eee;
    -webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 3px 3px 5px #eee;
    -webkit-box-shadow: 3px 3px 5px #eee;
    box-shadow: 3px 3px 5px #eee;
}

#author-results a {
    display:    block;
}

#author-results a:hover {
    text-decoration: none;
}

#author-results img {
    width: 30px;
    height: 30px;
    margin-left: -40px;
    float: left;
}



button.favorite, a.favorite {
    padding: 1px 3px;
    margin-left: 10px;
    font-size: 0.9em;
    background-color: #fff;
    opacity: 0.5;
    -webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
    border: solid 1px #666;
    color: #333;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    text-align: right;
    min-width: 25px;
    position: relative;
    top: -1px;
}

button.favorite {
    min-width: 35px;
    cursor: pointer;
}

button.favorite.highlight, a.favorite.highlight {
    background-color: #fca216;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffc874), to(#fca216));
    background: -moz-linear-gradient(#ffc874,#fca216);
    color: #fff;
    text-shadow: 0px 1px 1px #333;
    border-color: #d39534;
    opacity: 1
}

button.favorite:hover, button.favorite.active, a.favorite.active, a.favorite:hover {
    background-color: #36C;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#69F), to(#36C));
    background: -moz-linear-gradient(#69F,#36C);
    color: #fff;
    text-shadow: 0px 1px 1px #333;
    border-color: #36C;
    opacity: 1
}

.search-bar .search-tag a span {
    float: right;
    visibility: hidden;
}

.search-bar .search-tag a:hover span {
    visibility: visible
}

.user-profiles > a {
    text-decoration: none;
}

.account-settings, .about {
    border-left: none;
}

.account-settings label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em
}

.account-settings td {
    padding: 5px;
}

.account-settings .valid {
    background-color: #900;
    padding: 5px;
    float: right;
    font-size: 1.2em;
    color: #fff;
    font-weight: bold;
    display: none;
}

.account-settings .invalid {
    display: inline-block;
}

.account-author-profiles {
    width: 155px;
}

.icon {
    padding-left: 24px;
    background-repeat: no-repeat;
    background-position: 0px 3px;
}

.icon-module {
    background-image: url(/static/icons/package.png);
}

.icon-dist {
    background-image: url(/static/icons/box.png);
}

.icon-user {
    background-image: url(/static/icons/user.png);
}

.icon-server {
    background-image: url(/static/icons/server.png);
}

.pod html, .pod body, .pod dl, .pod dt, .pod dd, .pod h1, .pod h2, .pod h3, .pod h4, .pod h5, .pod h6, .pod pre, .pod form, .pod fieldset, .pod input, .pod p, .pod blockquote, .pod th, .pod td
{
    margin: 5px;
    padding: 5px;
}

.pod code {
    font-family: monospace
}

#permalink {
    margin: 5px;
    padding: 5px;
    float: right;
}

.pod ol {
    list-style: decimal;
    margin-left:40px;

}

.pod ul {
    list-style: disc;
    padding-left: 20px;
}

.pod pre {
    margin-left: 20px;
}


.pod h1, .pod h2, .pod h3, .pod h4 {
    background: transparent;
    color: #36c;
    font-weight: bold;
}

.pod h1 {
    font-size: 1.5em;
}

.recent-date {
    display: block;
    text-align: right;
    padding: 2px;
    font-size: 13px;
}

.pod h2 {
    font-size: 1.3em;
}

.pod h3, .pod h4 {
    font-size: 1.1em;
}

.pod p, .pod dt {
    font-size: 1.1em;
}

.pod dt {
    font-weight: bold;
}

.pod img     {
    vertical-align: top;
}

.pod .toc A  {
    text-decoration: none;
}

.pod .toc LI {
    line-height: 1.2em;
    list-style-type: none;
}

ul#index, #index ul { list-style-type: none; }

.syntaxhighlighter, .pod pre {
    border: 1px solid #e9e9e9;
    width: auto !important;
    overflow-y: hidden !important;
    background-color: #fafafa;
    padding: 10px;
}

.nogutter, .pod pre {
    padding-left: 10px;
}

#pod-errors {
  margin: 3em 0 0 0 ;
  padding: 10px;
  background-color: #ffffee;
  width: 36em;
  border: 1px solid #cccccc;
}

#pod-errors.collapsed {
  border: none;
  background-color: transparent;
}

#pod-errors p.title {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #CC3300;
  cursor: pointer;
}

#pod-errors.collapsed #pod-error-detail {
  display: none;
}

#pod-error-detail dl {
  margin: 0;
  padding: 0;
}

#pod-error-detail dl dt {
  padding: 0;
  margin: 0.8em 0 0 0;
}

#pod-error-detail dl dd {
  margin: 0;
  padding: 0 0 0 3em;
}

#pod-error-detail p {
  margin: 0 0 0.4em 0;
  padding: 0;
}

.search-results img,
.author-img {
    overflow:hidden;
    width: 130px;
    height: 130px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 5px;
    -webkit-box-shadow: 2px 2px 5px #999;
    text-align: left;
}

#content {
    padding: 10px;
}

ul {
    list-style-type: none;
}

.comment {
    color: #999;
    font-size: 0.8em;
}
.select-text {
    -moz-user-select: all;
    -ms-user-select: all;
    -webkit-user-select: all;
    user-select: all;
}

a.ellipsis {
    width: 160px;
}

.ellipsis {
    white-space: nowrap;
    display: block;
    overflow: hidden;
}

code { font-family: monospace; }

.olControlAttribution {
    bottom: 0em !important;
}

.pager {
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
}

.pager a, .pager strong {
    padding-left: 6px;
}

.pager a strong {
    padding-left: 0px;
}

body div.qtip div.content {
    padding: 0;
    margin: 0;
    height: auto; min-height: auto;
    width: auto; min-width: auto;
}

.ui-tooltip, .qtip {
    font-size: 12px;
    max-width: 800px;
}

.ui-tooltip-content {
    padding: 0;
}

div.qtip-github table {
    width: 100%;
}

div.qtip-github table td, div.qtip-github table th {
    padding: 3px;
    border: 1px solid #F1F1F1;
}

div.qtip-github table th {
    padding-right: 8px;
    white-space: nowrap;
    background-color: #F9F9F9;
}

.file-table .mtime, .file-table .size {
    width: 110px;
    font-size: 1em;
}

.file-table .documentation {
    width: 300px;
    font-size: 1em;
}

.file-table td.mtime, .release-table td.date {
    text-align: right;
}

.file-table .name a {
     display: inline-block;
}

.search-results .description {
    color: #999;
    max-height:3em;
    overflow:hidden;
}

.rating-00, .rating-05, .rating-10, .rating-15, .rating-20, .rating-25, .rating-30, .rating-35, .rating-40, .rating-45, .rating-50 {
    width: 67px;
    height: 12px;
    display: inline-block;
    background: url(/static/images/stars-sprite-white.png);
    vertical-align: bottom;
    margin-bottom: 4px;
}

.rating-05 {
    background-position: 0px -19px;
}
.rating-10 {
    background-position: 0px -38px;
}
.rating-15 {
    background-position: 0px -57px;
}
.rating-20 {
    background-position: 0px -76px;
}
.rating-25 {
    background-position: 0px -95px;
}
.rating-30 {
    background-position: 0px -114px;
}
.rating-35 {
    background-position: 0px -133px;
}
.rating-40 {
    background-position: 0px -152px;
}
.rating-45 {
    background-position: 0px -171px;
}
.rating-50 {
    background-position: 0px -190px;
}
