<div class="account-bar">
    <a href="/account/identities">Identities</a>
    <a href="/account/settings" class="active">Settings</a>
    <a href="/account/profile">Profile</a>
    <a href="/account/logout">Logout</a>
</div>

<div class="content">
    <form>
        <label><input type="checkbox" name="show_pod" />Hide POD in source view</label>
        <label>Sort order of releases in author view <select><option>Name ascending</option><option>Name descending</option><option>Date ascending</option><option>Date descending</option></select></label>
    </form>
</div>