# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]

indent_style = space
indent_size  = 4

# We recommend you to keep these unchanged
end_of_line = lf
charset     = utf-8

# I'd like to enable this, but we should fix all the files first to avoid diff noise.
#trim_trailing_whitespace = true
insert_final_newline     = true

# There's no reason to keep this, it just seems to be the overwhelming style currently.
[*.html]
indent_size  = 2
[*.tx]
indent_size  = 2

[.travis.yml]
indent_size = 2
