/.carton
/.includepath
/.project
/.tidyall.d/
/MYMETA.*
/Makefile
/Makefile.old
/blib
/carton.lock
/cover_db/
/local/
/log4perl_local.conf
/metacpan_web_local.conf
/node_modules/
/perltidy.LOG
/pm_to_blib
/tidyall.ERR
/var
/bin/precious
/bin/ubi
/root/assets
/root/static/sitemaps
*.bak
*.sw*
.DS_Store
!/root/assets/.gitignore
