*.bak
*.sw*
.DS_Store
/.carton
/.includepath
/.project
/.tidyall.d/
/MYMETA.*
/Makefile
/Makefile.old
/blib
/carton.lock
/cover_db/
/local/
/log4perl_local.conf
/metacpan_web_local.conf
/node_modules/
/perltidy.LOG
/pm_to_blib
/root/static/sitemaps
/tidyall.ERR
/var
