# shared between metacpan-web and metacpan-api

Amrita Mathew <root@QA.NAWALSSERVER.com> <root@QA.NAWALSSERVER.com>
Andreas Marienborg <omega@palle.net> <andreas.marienborg@gmail.com>
Andrew Fresh <andrew@afresh1.com>
Andrew Fresh <andrew@afresh1.com> <andrew+github@afresh1.com>
Barry Walsh <draegtun@googlemail.com> <draegtun@googlemail.com>
Brad Lhotsky <brad@divisionbyzero.net> <blhotsky@craigslist.org>
Chris Nehren <apeiron@cpan.org> <cnehren@gmail.com>
Clinton Gormley <clint@traveljury.com> <clinton@iannounce.co.uk>
Gabor Szabo <gabor@szabgab.com> <szabgab@gmail.com>
Grant McLean <grant@mclean.net.nz>
Grant McLean <grant@mclean.net.nz> <grant@catalyst.net.nz>
J. Bobby Lopez <jbl@jbldata.com> <jbl@cpan-api.wundercounter.com>
Joel Berger <joel.a.berger@gmail.com>
Johannes Plunien <plu@pqpq.de> <johannes.plunien@consol.ae>
Mark Fowler <mark@twoshortplanks.com>
Matthew Horsfall (alh) <wolfsage@gmail.com> <WolfSage@gmail.com>
Michael Peters <mpeters@plusthree.com>
Michael Peters <mpeters@plusthree.com> <mpeters@spike.(none)>
Michiel Beijen <michiel.beijen@gmail.com> <michiel.beijen@otrs.com>
Mickey Nasriachi <mickey@cpan.org> <mickey75@gmail.com>
Moritz Onken <onken@netcubed.de>
Olaf Alders <olaf@wundersolutions.com>
Olaf Alders <olaf@wundersolutions.com> <cpan@ww5.wundercounter.com>
Randy Stauner <randy@magnificent-tears.com>
Renee Baecker <github@renee-baecker.de>
Shawn M Moore <sartak@gmail.com> <sartak@bestpractical.com>
Sunny Patel <sunnypatel4141@gmail.com>
Sunny Patel <sunnypatel4141@gmail.com> <sunnypatel12@hotmail.com>
Talina Shrotriya <talina.shrotriya@gmail.com>
Talina Shrotriya <talina.shrotriya@gmail.com> <talina@talina.(none)>
Talina Shrotriya <talina.shrotriya@gmail.com> Talina06 <--global>
Thomas Sibley <tsibley@cpan.org> <tom@zulutango.org>
Tim Bunce <Tim.Bunce@pobox.com>
Vyacheslav Matyukhin <mmcleric@yandex-team.ru> <mmcleric@gmail.com>
Zachary Dykstra <dykstra.zachary@gmail.com>
oiami <pattawanna@gmail.com>
oiami <pattawanna@gmail.com> <oi@abctech-thailand.com>
