<% PROCESS inc/account-bar.html %>
<div class="content account-settings">
    <% IF no_profile -%>
    <div class="alert alert-error">
      <h4 class="alert-heading">Error</h4>
      In order to change your profile you have to <a href="<% api_secure %>/oauth2/authorize?choice=pause&amp;client_id=<% c.config.consumer_key %>" onclick="return logInPAUSE(this)">connect your account to PAUSE</a>.
    </div>
    <% ELSE -%>
    <form method="POST" action="" class="form-horizontal">
        <% IF errors -%>
        <fieldset><legend style="color: #600">Errors</legend>
            <ul>
            <% FOREACH error IN errors -%>
                <li><% error.field %>: <% error.message %></li>
            <% END -%>
            </ul>
        </fieldset>
        <% ELSIF success -%>
        <fieldset><legend style="color: #060">Success</legend>
            <p>The profile has been updated.</p>
        </fieldset>
        <% END %>
        <fieldset><legend>General</legend>
        <div class="pull-right author-pic-container"><%- INCLUDE inc/author-pic.html author = author %></div>
        <div class="control-group">
            <label class="control-label">PAUSE ID</label>
            <div class="controls">
                <input type="text" value="<% author.pauseid %>" disabled="disabled" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
                <input type="text" name="name" value="<% author.name %>" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">ASCII Name</label>
            <div class="controls">
                <input type="text" name="asciiname" value="<% author.asciiname %>" />
            </div>
        </div>
        <div class="email repeatable">
            <div class="control-group">
                <label class="control-label">Email</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="email" name="email" value="<% author.email.shift %>" />
                        <a class="btn" href="" onclick="return addField('email')">add</a>
                    </div>
                </div>
            <% FOREACH email IN author.email -%>
                <div class="controls">
                    <div class="input-append">
                        <input type="email" name="email" value="<% email %>" />
                        <a class="btn" href="" onclick="return removeLabel(this)">remove</a>
                    </div>
                </div>
            <% END -%>
            </div>
        </div>
        <div class="websites repeatable">
            <div class="control-group">
                <label class="control-label">Website</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="url" name="website" value="<% author.website.shift %>" />
                        <a class="btn" href="" onclick="return addField('website')">add</a>
                    </div>
                </div>
            <% FOREACH website IN author.website -%>
                <div class="controls">
                    <div class="input-append">
                        <input type="url" name="website" value="<% website %>" />
                        <a class="btn" href="" onclick="return removeLabel(this)">remove</a></label>
                    </div>
                </div>
            <% END -%>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Blog</label>
            <div class="controls">
                <input type="url" name="blog.url" value="<% author.blog.0.url %>" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Feed</label>
            <div class="controls">
                <input type="url" name="blog.feed" value="<% author.blog.0.feed %>" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Avatar</label>
            <div class="controls">
                <input type="url" name="gravatar_url" value="<% author.gravatar_url %>" />
            </div>
        </div>
        <div class="control-group">
            <%- donation = author.donation.0.id || author.donation.1.id || author.donation.2.id %>
            <div class="controls">
                <label class="checkbox">
                    <input name="donations" type="checkbox"<% IF donation %> checked="checked"<% END %> onchange="$('#donations').slideToggle()" /> Accept donations
                </label>
            </div>
        </div>
        <div id="donations"<% UNLESS donation %> style="display: none"<% END %>>
            <% FOREACH system IN ['PayPal', 'Wishlist', 'Flattr']; found = author.donation.grep(->(a){ a.name == system.lower }) %>
            <div class="control-group">
                <label class="control-label <% system.lower %>"><% system %></label>
                <div class="controls">
                    <input type="hidden" name="donation.name" value="<% system.lower %>" />
                    <input type="text" name="donation.id"<% IF found.size %> value="<% found.0.id %>"<% END %> />
                </div>
            </div>
            <% END %>
        </div>
        <div class="control-group">
            <label class="control-label">Last update</label>
            <div class="controls">
                <p class="checkbox">
                    <strong class="relatize"><% author.updated.dt_http %></strong>
                </p>
            </div>
        </div>
    </fieldset>

    <fieldset><legend>Location</legend>
        <div class="control-group">
            <label class="control-label">Country</label>
            <div class="controls">
                <input type="text" name="country" value="<% author.country %>" />
                <span class="help-inline">(two letter ISO code)</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Region</label>
            <div class="controls">
                <input type="text" name="region" value="<% author.region %>" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">City</label>
            <div class="controls">
                <input type="text" name="city" value="<% author.city %>" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Lat/long</label>
            <div class="controls">
                <div class="input-append">
                <input class="input-small" type="text" placeholder="Latitude" name="latitude" value="<% author.location.0 %>" />
                <input class="input-small" type="text" placeholder="Longitude" name="longitude" value="<% author.location.1 %>" />
                <a class="btn" href="" onclick="return fillLocation()">locate me</a>
                <img src="/static/icons/busy.gif" style="display: none;" id="busy" />
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset><legend>Profiles</legend>
        <div class="control-group profile">
            <div class="controls">
                <select onchange="return addProfile(this)">
                    <option>Add Profile</option>
                    <% FOREACH profile IN profiles; profile.value.id = profile.key -%>
                    <option value="<% profile.value.json %>"><% profile.value.name %></option>
                    <% END -%>
                    <option value="">Custom...</option>
                </select>
            </div>
        </div>
        <div id="profiles" class="profiles">
            <% FOREACH profile IN author.profile.sort('name'); known = profiles.${profile.name} -%>
            <div class="control-group <% IF known %>profile profile-<% profile.name %><% END %>">
                <label class="control-label">
                    <% IF known %>
                    <% known.name %>
                    <input type="hidden" name="profile.name" value="<% profile.name %>" />
                    <% ELSE %>
                    <input class="input-small" type="text" name="profile.name" value="<% profile.name %>">
                    <% END %>
                </label>
                <div class="controls">
                    <div class="input-append">
                        <input class="input-medium" type="text" name="profile.id" value="<% profile.id %>" />
                        <a class="btn btn-danger remove" href="" onclick="return removeDiv(this.parentNode.parentNode)"><i class="icon-trash icon-white"></i><span> remove</span></a>
                        <% IF known %>
                        <a class="btn" href="" tmpl="<% known.url %>" onclick="return rewriteURL(this)" target="_blank">check</a>
                        <% END %>
                    </div>
                </div>
            </div>
            <% END -%>
        </div>
    </fieldset>

    <fieldset><legend>Extra</legend>
        <p>Any additional data you want to add to your profiles goes in here (JSON format).</p><br />
        <textarea name="extra" cols="60" rows="10" onkeyup="validateJSON(this)"><% author.extra.pretty_json %></textarea><div class="valid">invalid</div>
    </fieldset>
    <br />
    <input type="submit" value="Save Profile" class="btn btn-large" />
    </form>
    <% END -%>
</div>

<script>

function addProfile(select) {
    var value = select.value;
    var profile = value ? JSON.parse(value) : null;
    select.selectedIndex = 0;
    var container = $('#profiles');
    var html = '<div style="display: none" class="control-group'
    if (value) {
        html += ' profile profile-' + profile.id;
    }
    html += '"><label class="control-label">';
    if(value) {
        html += profile.name
        + '<input type="hidden" name="profile.name" value="' + profile.id  + '" /> ';
    } else {
        html += '<input placeholder="Profile name" class="input-small" type="text" name="profile.name" /> ';
    }
    html += '</label>'
    html += '<div class="controls"><div class="input-append">'
        + '<input class="input-medium" type="text" name="profile.id" /> '
        + '<a class="btn btn-danger remove" href="" class="check" onclick="return removeDiv(this.parentNode.parentNode)"><i class="icon-trash icon-white"></i><span> remove</span></a> ';
    if (value) {
        html += '<a class="btn" href="" tmpl="' + profile.url + '" onclick="return rewriteURL(this)" target="_blank">check</a>';
    }

    html += '</div></div></div>';

      container.append(html);
      var add = container.children().last();
      add.slideDown();
}

function rewriteURL(link) {
    link = $(link);
    var url = link.attr('tmpl');
    var input = link.prev().prev();
    link.attr('href', url.replace('%s', input.val()));
    return true;
}

function removeDiv(link) {
    $(link).parents('div').first().slideUp("normal", function(){$(this).remove()});
    return false;
}

function removeLabel(link) {
    $(link).parents('.controls').first().slideUp("normal", function(){$(this).remove()});
    return false;
}

function validateJSON(text) {
    var valid = $('.valid');
    try {
        text.value && JSON.parse(text.value);
        valid.removeClass('invalid');
    } catch(err) {
        valid.addClass('invalid');
    }
}

function addField(id) {
    var input = $('input[name="' + id + '"]').last();
    var container = input.parent().parent().parent();
    container.append('<div class="controls"><div class="input-append"><input type="text" name="' + id + '" />'
    + ' <a class="btn" href="" onclick="return removeLabel(this)">remove</a></div></div>');

    var add = container.children().last();
    add.slideDown();
    return false;
}

function fillLocation() {
    $('#busy').show();
    navigator.geolocation.getCurrentPosition(function(pos) {
        $('#busy').hide();
        $('input[name="latitude"]').val(pos.coords.latitude);
        $('input[name="longitude"]').val(pos.coords.longitude);
    }, function(){
        $('#busy').hide();
    });
    return false;
}
$(function () {
    $(window).bind("resize", formFixer);
    formFixer();
});

function formFixer( e ) {
    if($(window).width()<=480){
        $('form').removeClass('form-horizontal');
    }
    else{
        $('form').addClass('form-horizontal');
    }
}
</script>
