<% PROCESS inc/account-bar.html %>
<div class="content account-settings">
    <% IF error -%>
    <div class="alert alert-error">
      <h4 class="alert-heading">Error</h4>
      The answer was not correct. Please try again..
    </div>
    <% END; IF success -%>
    <div class="alert alert-success">
      <h4 class="alert-heading">Success</h4>
      Thank you.
    </div>
    <a href="<% referer %>">Continue browsing</a>
    <% ELSE %>
    <fieldset><legend>Verify Account</legend>
        <p>Please solve the Captcha. This will allow you to ++ modules. You'll have to complete this test only once.</p><br />
        <script>
        var RecaptchaOptions = { theme : 'white' };
        </script>
        <form action="<% c.req.uri %>" method="POST">
        <% captcha | none %>
        <input type="hidden" name="r" value="<% referer || c.req.referer || c.uri_for('/') %>" />
        </form>
    </fieldset>
    <% END %>
</div>