<% UNLESS title; title = 'MetaCPAN About'; END %>
<ul class="nav-list slidepanel nav nav-pills nav-stacked">
    <li class="visible-xs">
        <% INCLUDE mobile/toolbar-search-form.html %>
    </li>
    <li<% IF req.action == 'about' %> class="active"<% END %>>
        <a href="/about">About MetaCPAN</a>
    </li>
    <li<% IF req.action == 'about/contact' %> class="active"<% END %>>
        <a href="/about/contact">Contact</a>
    </li>
    <li<% IF req.action == 'about/development' %> class="active"<% END %>>
        <a href="/about/development">Development</a>
    </li>
    <li<% IF req.action == 'about/faq' %> class="active"<% END %>>
        <a href="/about/faq">FAQ</a>
    </li>
    <li<% IF req.action == 'about/sponsors' %> class="active"<% END %>>
        <a href="/about/sponsors">Sponsors</a>
    </li>
    <li<% IF req.action == 'about/contributors' %> class="active"<% END %>>
        <a href="/about/contributors">Contributors</a>
    </li>
    <li<% IF req.action == 'about/meta_hack' %> class="active"<% END %>>
        <a href="/about/meta_hack">meta::hack</a>
    </li>
    <li<% IF req.action == 'about/missing_modules' %> class="active"<% END %>>
        <a href="/about/missing_modules">Missing Modules</a>
    </li>
    <li<% IF req.action == 'about/metadata' %> class="active"<% END %>>
        <a href="/about/metadata">Distribution Metadata</a>
    </li>
</ul>
