<% UNLESS title; title = 'MetaCPAN Account'; END %>
<div class="tabbable tabs-left account-bar slidepanel">
    <ul class="nav nav-tabs">
        <li class="visible-phone search">
          <form action="<% IF req.uri.path == '/mirrors'; req.uri.path; ELSE; '/search'; END %>">
            <input type="search" placeholder="Search" name="q"><input type="submit" class="hidden">
          </form>
        </li>
        <%- UNLESS user.looks_human %>
        <li<% IF req.action == 'account/turing' %> class="active"<% END %>>
            <a href="/account/turing">Verify Account</a>
        </li>
        <%- END %>
        <li<% IF req.action == 'account/identities' %> class="active"<% END %>>
            <a href="/account/identities">Identities</a>
        </li>
        <li<% IF req.action == 'account/profile' %> class="active"<% END %>>
            <a href="/account/profile">Profile</a>
        </li>
        <li<% IF req.action == 'account/favorite/list' %> class="active"<% END %>>
            <a href="/account/favorite/list">Favorites</a>
        </li>
        <li>
            <a href="#" onclick="$('#logout').submit(); return false">Logout</a>
        </li>
    </ul>
</div>
