<% UNLESS title; title = 'MetaCPAN Account'; END %>
<ul class="nav-list slidepanel nav nav-pills nav-stacked">
    <%- UNLESS user.looks_human %>
    <li<% IF req.action == 'account/turing' %> class="active"<% END %>>
        <a href="/account/turing">Verify Account</a>
    </li>
    <%- END %>
    <li<% IF req.action == 'account/identities' %> class="active"<% END %>>
        <a href="/account/identities">Identities</a>
    </li>
    <li<% IF req.action == 'account/profile' %> class="active"<% END %>>
        <a href="/account/profile">Profile</a>
    </li>
    <li<% IF req.action == 'account/favorite/list' %> class="active"<% END %>>
        <a href="/account/favorite/list">Favorites</a>
    </li>
    <li<% IF req.action == 'account/theme' %> class="active"<% END %>>
        <a href="/account/theme">Theme</a>
    </li>
    <li>
        <a href="#" onclick="$('#metacpan-logout').submit(); return false">Logout</a>
    </li>
</ul>
