<!-- For plussers -->
<% IF plussers.authors.size or plussers.others %>
<div class="plussers hidden-phone">
<div><b>++ed by:</b></div>
<% author_nums = plussers.authors.size <= 5 ? plussers.authors.size : 5 %>
<%# display the gravatar url for each pause plusser alongwith their author page as a link. %>
<% FOREACH plusser IN plussers.authors.shuffle.first(author_nums) %>

<a class="display-all" href="/author/<% plusser.pauseid %>"><img src="<% plusser.gravatar_image(20) %>" title="<% plusser.pauseid %>" alt="<% plusser.pauseid %>"></a>

<% END %>

<!-- Display counts of plussers-->
<p>
<% IF plussers.authors.size %>
<a href="/release/<% plussers.distribution %>/plussers"><% "%d PAUSE user(s)".pluralize(plussers.authors.size) %></a><br>
<% END %>
<% IF plussers.others %>
<% "%d non-PAUSE user(s)".pluralize(plussers.others) %>.
<% END %>
</p>
</div>
<% END %>

<div class="author-pic">
<a href="/author/<% author.pauseid %>">
  <img src="<% author.gravatar_image(130) %>" alt="Author image">
</a>
<strong>
  <a rel="author" href="/author/<% author.pauseid %>"><% author.pauseid %></a>
</strong>
<span title="<% author.asciiname %>"><% author.name %></span>
</div>
