<!-- For plussers -->
<% IF plusser_authors.size or plusser_others %>
<div class="plussers hidden-phone box-right">
<div><b>++ed by:</b></div>
<% author_nums = plusser_authors.size <= 5 ? plusser_authors.size : 5 %>
<%# display the gravatar url for each pause plusser alongwith their author page as a link. %>
<% FOREACH plusser IN plusser_authors.shuffle.first(author_nums) %>

<a class="display-all" href="/author/<% plusser.id %>"><img src="<% plusser.pic.gravatar_fixup(20) || '/static/icons/user.png' %>" title="<% plusser.id %>" alt="<% plusser.id %>"></a>

<% END %>

<!-- Display counts of plussers-->
<p>
<% IF plusser_authors.size %>
<a href="/release/<% plusser_data %>/plussers"><% plusser_authors.size %> PAUSE user(s)</a><br>
<% END %>
<% IF plusser_others %>
<% plusser_others %> non-PAUSE user(s).
<% END %>
</p>
</div>
<% END %>

<div class="author-pic">
<%- IF author.gravatar_url %>
<a href="/author/<% author.pauseid %>">
  <img src="<% author.gravatar_url.gravatar_fixup(130) %>">
</a>
<% END %>
<strong>
  <a rel="author" href="/author/<% author.pauseid %>"><% author.pauseid %></a>
</strong>
<span title="<% author.asciiname %>"><% author.name %></span>
<div class="inline"><%- INCLUDE inc/trust.html %></div>
</div>
<%-
  FOREACH p IN author.profile;
  IF p.name == 'coderwall';
%>
  <div class="coderwall">
    <a href="https://coderwall.com/<% p.id %>">
        <img alt="Endorse <% author.asciiname %> on Coderwall"
           title="Endorse <% author.asciiname %> on Coderwall"
             width="110" height="20"
             src="https://api.coderwall.com/<% p.id %>/endorsecount.png" /></a></div>
<% END %>
<% IF p.name == "googleplus" %>
  <a rel="author" href="<% profiles.${p.name}.url.replace('%s', p.id) %>?rel=author" target="_blank" title="<% p.name %> - <% p.id%>" style="display: none;">
    <img src="/static/images/profile/<% p.name %>.png" width=16 height=16 alt="<% p.name %>">
  </a>
<% END %>
<% END %>








