<% BLOCK version_dropdown %>
<%- IF versions.size; %>
<%-
backpan = [];
MACRO breadcrumb_link(version) BLOCK;
  selected = release.author == version.author && release.name == version.name ? "selected" : ""; %>
<%# FIXME: This link should point to /pod (or /source?) %>
  <option <% selected %> value="/<% [(module ? 'module' : 'release'), version.author, version.name].join('/'); IF module; "/"; module.path; END %>">
    <% version.version _ (version.maturity == 'developer' ? ' DEV' : '') %>
      (<%version.author %> on <% version.date.dt_date_common %>)
      <% IF mark_unauthorized_releases && NOT version.authorized %>UNAUTHORIZED<% END %>
  </option>
<%- END;
FOREACH version IN versions;
    IF version.status == 'backpan';
        backpan.push(version);
        NEXT;
    END;
        breadcrumb_link(version) | none;
END;
    IF backpan.size > 1 %>
        <optgroup label="BackPAN">
          <% FOREACH version IN backpan; breadcrumb_link(version) | none; END %>
        </optgroup>
    <%
    END;
END %>
<% END %>


<div class="breadcrumbs">
  <span <% IF schema_org %>itemprop="author" itemscope itemtype="http://schema.org/Person"<% END %> >
    <a <% IF schema_org %>itemprop="url" <% END %> data-keyboard-shortcut="g a" rel="author" href="/author/<% IF module; module.author; ELSE; release.author; END %>" title="<% author.asciiname %>" class="author-name"><span <% IF schema_org %>itemprop="name"<% END %> ><% author.name %></span></a>
  </span>
  <span>&nbsp;/&nbsp;</span>
  <div class="release status-<% release.status %> maturity-<% release.maturity %><% IF mark_unauthorized_releases && NOT release.authorized %> unauthorized<% END %>">
    <span class="dropdown"><b class="caret"></b></span>
    <select class="<% module ? "" : "extend" %>" onchange="document.location.href=this.value"><% PROCESS version_dropdown %></select>
    <% IF module %>
    <a data-keyboard-shortcut="g d" class="release-name" href="/release/<% IF permalinks; [module.author, module.release].join('/'); ELSE; release.distribution; END %>"><% release.name %></a>
    <% ELSE %>
      <span class="release-name"><% release.name %></span>
    <% END %>
    <% IF mark_unauthorized_releases && NOT release.authorized %><em class="warning">UNAUTHORIZED RELEASE</em><% END %>
  </div>
  <%- IF permalinks;
      FOREACH v IN versions; IF v.status == 'latest'; have_released = 1; END; END;
      IF have_released; %>
    <a class="latest" href="<% IF module %>/pod/<% module.documentation %><% ELSE %>/release/<% release.distribution; END %>" title="<%- IF release.maturity == 'developer'; 'dev release, '; END %>go to latest"><span class="fa fa-step-forward"></span></a>
  <%- END; END; %>
  <div class="inline"><%- INCLUDE inc/favorite.html module = module || release %></div>
  <%- IF module %>
  &nbsp;/&nbsp;<span <% IF schema_org %>itemprop="name"<% END %> ><% module.documentation or module.module.0.name %></span>
  <%- END %>
</div>
