<% BLOCK version_dropdown %>
<%- IF versions.size; %>
<%-
backpan = [];
MACRO breadcrumb_link(version) BLOCK;
  selected = release.author == version.author && release.name == version.name ? "selected" : ""; %>
<%# FIXME: This link should point to /pod (or /source?) %>
  <option <% selected %> value="/<% [(module ? 'module' : 'release'), version.author, version.name, module.path].join('/') %>">
    <% version.version _ (version.maturity == 'developer' ? ' DEV' : '') %>
      (<%version.author %> on <% version.date.dt_date_common %>)
      <% IF NOT version.authorized %>UNAUTHORIZED<% END %>
  </option>
<%- END;
FOREACH version IN versions;
    IF version.status == 'backpan';
        backpan.push(version);
        NEXT;
    END;
        breadcrumb_link(version) | none;
END;
    IF backpan.size > 1 %>
        <optgroup label="BackPAN">
          <% FOREACH version IN backpan; breadcrumb_link(version) | none; END %>
        </optgroup>
    <%
    END;
END %>
<% END %>


<div class="breadcrumbs" itemscope itemtype="http://schema.org/SoftwareApplication">
<%- IF release.status != 'latest' %>
  <a class="latest" href="<% IF module %>/pod/<% module.documentation %><% ELSE %>/release/<% release.distribution; END %>" title="<%- IF release.maturity == 'developer'; 'dev release, '; END %>go to latest"><i class="icon icon-step-forward"></i></a>
<%- END %>
  <a rel="author" itemprop="author" itemscope itemtype="http://schema.org/Person" href="/author/<% IF module; module.author; ELSE; release.author; END %>" title="<% author.asciiname %>"><% author.name %></a>
  <span>&nbsp;/&nbsp;</span>
  <div class="release status-<% release.status %> maturity-<% release.maturity %><% IF NOT release.authorized %> unauthorized<% END %>">
    <span class="dropdown"><b class="caret"></b></span>
    <select class="<% module ? "" : "extend" %>" onchange="document.location.href=this.value"><% PROCESS version_dropdown %></select>
    <% IF module %>
    <a class="release-name" itemprop="name" href="/release/<% IF release.status == 'latest'; release.distribution; ELSE; [module.author, module.release].join('/'); END %>"><% release.name %></a>
    <% ELSE %>
      <span class="release-name"><% release.name %></span>
    <% END %>
    <% IF NOT release.authorized %><em class="warning">UNAUTHORIZED RELEASE</em><% END %>
  </div>
  <div class="inline"><%- INCLUDE inc/favorite.html module = module || release %></div>
  <%- IF module %>
  <span>&nbsp;/&nbsp;
  <% module.documentation %></span>
  <%- END %>
</div>

<!-- For plussers -->
<div class ="plussers_div">

<% FOREACH plusser IN plusser_authors%>
<!-- display the gravatar url for each pause plusser alongwith their author page as a link.-->

<a class="display-all" title="<% plusser.id %>" href="/author/<% plusser.id %>"><img src="<% plusser.pic || '/static/icons/user.png' %>">
</a>

<% IF loop.count%35 == 0 %>
<!--To display 35 plussers in one row. -->
<p> </p>
<% END %>
<% END %>

</div>

<!-- Display the count of non pauseid plussers-->
<% IF plusser_others %>
<p><b>and <% plusser_others %> non-PAUSE user(s)</b> ++ed this.</b></p>
<% END %>
