<% IF contributors and contributors.size %>

<div id="contributors">
    <div class="contributors-header">and <% contributors.size %> contributors</div>
    <div align="right">
        <button class="btn-link"
            onclick="$(this).hide(); $('#contributors ul').slideDown(); return false;"
        >show them</button>
    </div>
    <ul class="nav nav-list box-right" style="display: none">
    <% FOREACH contributor IN contributors %>
        <li class="contributor<% ' cpan' IF contributor.pauseid %>">
        <% IF contributor.pauseid %>
        <a href="<% contributor.url %>" 
           class="cpan_author" 
           data-cpan-author="<% contributor.pauseid %>"><% contributor.name %></a>
        <% ELSE %>
        <% contributor.name %>
        <% END %>
        </li>
    <% END %>
    </ul>
</div>

<% END %>
