<% IF contributors %>

<div id="contributors">
    <strong>and <% contributors.size %> contributors</strong>
    <div align="right">
        <a name="authors" href="#authors"
            onclick="$(this).hide(); $('#contributors ul').slideDown()"
        >show them</a>
    </div>
    <ul style="display: none">
    <% FOREACH contributor IN contributors %>
        <li style="text-align: left; padding-left: 22px;">
        <% IF contributor.cpan_id %>
        <a href="<% contributor.url %>" 
           class="cpan_author" 
           data-cpan-author="<% contributor.cpan_id %>"><% contributor.name %></a>
        <% ELSE %>
        <% contributor %>
        <% END %>
        </li>
    <% END %>
    </ul>
</div>

<% END %>
