<div class="modal fade" id="dependencies-graph" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border:none">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="text-center"><% release.name %></h3>
            </div>

            <iframe width=720 height=620 frameborder=0></iframe>
        </div>
    </div>
</div>

<script>
    $('#dependencies-graph').on('show.bs.modal', function() {
        var iframe = $("#dependencies-graph iframe");
        var base   = "//widgets.stratopan.com/wheel";
        var src    = base + "?q=<% release.name %>";
        iframe.attr("src") || iframe.attr("src", src);
        if (!iframe) return e.preventDefault();
    });
</script>
