<ul class="nav nav-list box-right">
    <li class="nav-header">Dependencies</li>
<%-
deps = [];
FOREACH dep IN dependencies;
IF dep.phase != 'runtime' || dep.relationship != 'requires' || dep.module == 'perl'; NEXT; END;
deps.push(dep.module);
END;
FOREACH dep IN deps.sort %>
    <li><a href="/pod/<% dep %>" title="<% dep %>" class="ellipsis"><% dep %></a></li>
<%- END %>
<%- IF deps.size == 0 && !release.metadata  %>
	<li><i title="no META file provided">unknown</i></li>
<%- ELSIF release.metadata.dynamic_config %>
	<li><i title="dynamic_config enabled"><% deps.size ? "and possibly others" : "unknown" %></i></li>
<%- ELSIF deps.size == 0 %>
	<li><i>none</i></li>
<%- END %>
    <li class="divider"></li>
    <li><a href="http://deps.cpantesters.org/?module=<% release.distribution.replace('-', '::') %>"><i class="icon-retweet"></i> CPAN Testers List</a></li>
    <li><a href="/requires/module/<% release.distribution %>?sort=[[2,1]]"><i class="icon-share-alt"></i> Reverse dependencies</a></li>
</ul>
