<% IF user_exists && user.pause_id -%>
<form action="/account/favorite/add" style="display: inline" onsubmit="return favDistribution(this)">
    <% IF module.myfavorite %><input type="hidden" name="remove" value="1"><% END -%>
    <input type="hidden" name="release" value="<% module.release || module.name %>">
    <input type="hidden" name="author" value="<% module.author %>">
    <input type="hidden" name="distribution" value="<% module.distribution %>">
<button type="submit" class="favorite<% IF module.favorites %> highlight<% END %><% IF module.myfavorite %> active<% END %>"><span><% module.favorites %></span> +1</button>
</form>
<% ELSE -%>
<a href="" onclick="alert('Please sign in to add favorites'); return false" class="favorite<% IF module.favorites %> highlight<% END %>"><span">
<% module.favorites %> +1</a><% END -%>
