<table class="table table-condensed table-striped table-favorites<% IF tablesorter %> tablesorter<% END %>">
  <thead>
    <tr>
      <th class="release pull-left-phone"><% author ? "Favorites" : "Distribution" %></th>
      <th class="abstract pull-left-phone"><% author ? "Author" : "Favorited By" %></th>
      <th class="date"><% day || "Date" %></th>
    </tr>
</thead>
<tbody>
<% FOREACH favorite IN favorites %>
<tr>
  <td>
    <strong>
        <a href="/release/<% favorite.distribution; %>" class="ellipsis" title="<% favorite.author; '/'; favorite.distribution %>"><% favorite.distribution %></a>
    </strong>
  </td>
  <% IF author %>
  <td class="pull-left-phone">
    <a href="/author/<% favorite.author %>"><% favorite.author %></a>
  </td>
  <% ELSE %>
  <td class="pull-left-phone">
    <a href="/author/<% favorite.clicked_by_author %>"><% favorite.clicked_by_author %></a>
  </td>
  <% END %>
  <td class="date" nowrap="nowrap">
    <span class="relatize" sort="<% favorite.date.dt_http %>"><% favorite.date.dt_http %></span>
  </td>
</tr>
<% END %>
</tbody>
</table>
