<% UNLESS title; title = 'MetaCPAN About'; END %>
<div class="account-bar">
    <a href="/"<% IF req.action == '/' %> class="active"<% END %>>News Feed</a>
    <a href="/dashboard/favorites"<% IF req.action == 'about/resources' %> class="active"<% END %>>My Favorites</a>
    <a href="/about/contributors"<% IF req.action == 'about/contributors' %> class="active"<% END %>>Contributors</a>
    <a href="/about/sponsors"<% IF req.action == 'about/sponsors' %> class="active"<% END %>>Sponsors</a>
</div>
<div class="content">
    foo bar
</div>