<%- IF notification %>
<%-
    notification_type = notification.type;
    MAILTO = 'mailto:%s?subject=%s&body=%s';
    NOTIFICATION = {
        NEEDHELP = {
            title = "Looking for help!",
            subject = "Looking for help with %s?",
            contactwhom = "them",
            text = "The maintainer of this distribution is looking for people to help them improve this module!",
            body = "Hello,\r\n\r\nI'm willing to provide some time to help you with new feature for the %s module, if you can let me know what you would like to be done.\r\n\r\n"
        },
        ADOPTME = {
            title  = "Why not adopt me?",
            subject = "Adopt %s?",
            text   = "This distribution is up for adoption!",
            contactwhom = "the PAUSE module admins",
            body   = "Hello,\r\n\r\nI'm interested in adopting the %s module. If you can grant me the privilege I will release the next version.\r\n\r\n",
        },
        HANDOFF = {
            title  = "Take me over?",
            subject = "Take over %s?",
            contactwhom = "them",
            text   = "The maintainer of this distribution is looking for someone to take over!",
            body   = "Hello,\r\n\r\nI'm interested in taking over the %s module. If you can grant me the privilege I will release the next version.\r\n\r\n"
        },
    }.$notification_type;
    NOTIFICATION.mailto = MAILTO.sprintf(
        notification.emails.join(','),
        NOTIFICATION.subject.sprintf(notification.module_name) | url,
        NOTIFICATION.body.sprintf(notification.module_name) | url
    );
-%>
<input id="<% notification_type %>" type="checkbox" class="notification-toggle-checkbox" />
<div id="notification" class="well collapsed notify-<% notification_type %>">
    <label class="remove-notification" for="<% notification_type %>" >
        <i class="fa fa-fw fa-close black""></i>
    </label>
    <div id="notification-container">
        <h2><% NOTIFICATION.title %></h2>
        <span>
            <% NOTIFICATION.text %>
            If you're interested then please contact
            <% NOTIFICATION.contactwhom %> via
            <a href="<% NOTIFICATION.mailto %>">email</a>.
            <a href="/about/faq#howtoadoptadistribution"><i class="fa fa-info-circle"></i></a>
        </span>
    </div>
</div>
<%- END %>
