<%- IF pageset && pageset.total_entries -%>
<%- IF  pageset.last_page > 1 -%>
<div class="text-center">
  <ul class="pagination">
    <li class="<% UNLESS pageset.previous_page %>disabled<% END %>">
      <a href="<% page_url( p = pageset.previous_page ).as_string %>">«</a>
    </li>

    <%- FOREACH page_num IN pageset.pages_in_set %>
    <li <% IF page_num == pageset.current_page %> class="active"<% END %>>
      <a href="<% page_url( p = page_num ).as_string %>"><% page_num %></a>
    </li>
    <%- END %>

    <li class="<% UNLESS pageset.next_page %>disabled<% END %>">
      <a href="<% page_url( p = pageset.next_page ).as_string %>">»</a>
    </li>
  </ul>
</div>
<%- END %>

<div class="text-center">
  <ul class="pagination">
       <li class="disabled"><a>Results per page:</a></li>
    <% FOREACH page_size IN [10, 20, 50, 100, 200, 500] %>
      <li <% IF page_size == pageset.entries_per_page %> class="active"<% END %>>
        <a href="<% page_url( p = page, size = page_size ).as_string %>"><% page_size %></a>
      </li>
    <% END %>
  </ul>
</div>

<div class="text-center smaller">
    <% pageset.total_entries | format_number %>
    <% "result".pluralize(pageset.total_entries) %><% IF took %> (<% took / 1000 %> seconds)<% END %>
</div>
<%- END %>
