<ul class="nav-list slidepanel">
    <li class="visible-xs">
      <% INCLUDE mobile/toolbar-search-form.html %>
    </li>
    <li class="nav-header">Activity</li>
    <li><% INCLUDE inc/activity.html query = 'f=' _ c.req.params.f || 'l' %></li>
    <li class="nav-header">Filter</li>
    <form action="<% c.uri_for('/recent') %>" method="get" onchange="this.form.submit()">
          <%- 
          filter = { l = 'Latest releases', n = 'New distributions', a = 'Including BackPAN' };
          IF c.req.uri == "/recent"; c.req.params.f ||= 'l'; END;
          FOR item IN ['l', 'n']; %>
      <li><label class="radio"><input type="radio" name="f" value="<% item %>"<% IF c.req.params.f == item; ' checked'; END %> onchange="this.form.submit()"> <% filter.${item} %></label></li>
      <% END %>
      <input type="submit" class="hidden">
  </form>
  <li class="nav-header">Other</li>
  <li><a href="/favorite/recent">Recent Favorites</a></li>
  <li><a href="/favorite/leaderboard">Popular Distributions</a></li>
  <li><a href="/recent/log">Indexer Log</a></li>
  <li class="nav-header">Top Uploaders</li>
  <%-
      categories = [
          [ "weekly", "Weekly" ],
          [ "yearly", "Yearly" ],
          [ "all",    "All Time" ],
      ];
      FOREACH category IN categories;
  %>
  <li>
      <% IF range == category.0 %><strong><% category.1 %></strong>
      <% ELSE %><a href="/recent/topuploaders/<% category.0 %>"><% category.1 %></a>
      <%- END %>
  </li>
  <% END %>
</ul>
