<%
  MACRO sidebar_group(group, selected) BLOCK sidebar_group;
    FOREACH entry IN group;
-%>
  <li>
      <% IF selected == entry.0 %><strong><% entry.1 %></strong>
      <% ELSE %><a href="<% entry.2 %>"><% entry.1 %></a>
      <%- END %>
  </li>
<%
    END;
  END
-%>
<ul class="nav-list slidepanel">
  <li class="visible-xs">
    <% INCLUDE mobile/toolbar-search-form.html %>
  </li>
  <li class="nav-header">Activity</li>
  <li><% INCLUDE inc/activity.html query = 'f=' _ filter || 'l' %></li>
  <li class="nav-header">Recent Uploads</li>
  <%
    INCLUDE sidebar_group
      selected = { l="releases", n="distributions" }.$filter,
      group = [
        [ "releases",      "Latest releases",   "/recent" ],
        [ "distributions", "New distributions", "/recent?f=n" ],
      ]
    ;
  %>
  <li class="nav-header">Favorites</li>
  <% INCLUDE sidebar_group selected=favorite_type, group=[
    [ "recent",      "Recent Favorites",      "/favorite/recent" ],
    [ "leaderboard", "Popular Distributions", "/favorite/leaderboard" ],
  ] %>
  <li class="nav-header">Top Uploaders</li>
  <% INCLUDE sidebar_group selected=range, group=[
    [ "weekly", "Weekly",   "/recent/topuploaders/weekly" ],
    [ "yearly", "Yearly",   "/recent/topuploaders/yearly" ],
    [ "all",    "All Time", "/recent/topuploaders/all" ],
  ] %>
  <li class="nav-header">Project Partners</li>  
    <li><a href="https://www.loadview-testing.com/api-testing/">LoadView API Testing</a></li>
    <li><a href="https://webhostingbuddy.com/wordpress-hosting/">WordPress Hosting Buddy</a></li>
</ul>
