<li class="nav-header">Tools</li>
<li>
    <a <% IF schema_org %>itemprop="downloadUrl"<% END %> href="<% release.download_url.replace('cpan\.cpantesters\.org', 'cpan.metacpan.org').replace('^http://', 'https://') %>">
    <i class="fa fa-download fa-fw black"></i>Download (<span <% IF schema_org %>itemprop="fileSize"<% END %> ><% release.stat.size | format_bytes %>b</span>)</a>
    <% IF schema_org %>
    <span class="invisible" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <span itemprop="price">0</span>
    </span>
    <% END %>
</li>
<li>
    <a href="https://explorer.metacpan.org/?url=<% ("/" _ ( module ? ['module', module.author, module.release, module.path] : ['release', release.author, release.name] ).map(->(p){ p | uri }).join("/") ) %>">
    <i class="fa fa-list-alt fa-fw black"></i>MetaCPAN Explorer
    </a>
</li>
<li>
  <a href="/permission/distribution/<% release.distribution %>">
    <i class="fa fa-key fa-fw black"></i>Permissions
  </a>
</li>
<li>
    <a href="/feed/distribution/<% release.distribution %>">
    <i class="fa fa-rss-square fa-fw black"></i>Subscribe to distribution
    </a>
</li>
<li>
    <button class="btn btn-link" data-toggle="modal" data-target="#install-instructions-dialog">
      <i class="fa fa-terminal fa-fw black"></i>Install Instructions
    </button>
</li>
<li>
    <form action="/search">
        <input type="hidden" name="q" value="dist:<% release.distribution %>">
        <input type="search" name="q" placeholder="Search distribution" style="width: 153px" class="form-control tool-bar-form">
        <input type="submit" style="display: none">
    </form>
</li>
<li>
    <form action="https://grep.metacpan.org/search">
        <input type="hidden" name="qd" value="<% release.distribution %>">
        <input type="hidden" name="source" value="metacpan">
         <input type="search" name="q" placeholder="grep distribution" style="width: 153px" class="form-control tool-bar-form">
         <input type="submit" style="display: none">
     </form>
</li>
<%- IF versions.size > 1 %>
<li>
    <select onchange="document.location.href='/<% IF module; "module"; ELSE; "release"; END %>/'+this.value" class="form-control tool-bar-form">
        <option>Jump to version</option>
        <%- PROCESS version_options %>
    </select>
</li>
<li>
    <select name="release" onchange="document.location.href='/diff/file/?target=<% [release.author, release.name, module.path].map(->(p){ p | uri }).join("/") %>&amp;source=' + encodeURIComponent(this.value)" class="form-control tool-bar-form">
        <option>Diff with version</option>
        <%- PROCESS version_options %>
    </select>
</li>
<%- END %>
<% IF release.metadata.x_help_wanted %>
<li class="nav-header">Help Wanted</li>
<ul>
    <%- FOREACH position IN release.metadata.x_help_wanted %>
    <li><% position %></li>
    <%- END %>
</ul>
<%- END %>
<li class="nav-header">Permalinks</li>
<li>
    <a href="/<% module ? "pod/release" : "release" %>/<% release.author %>/<% release.name %><% IF module; "/"; module.path; END %>">This version</a>
</li>
<%- IF canonical %>
<li>
    <a <% IF schema_org %>itemprop="url"<% END %> href="<% canonical %>">Latest version</a>
</li>
<%- END %>
