<li>
    <a data-keyboard-shortcut="g c" href="/changes/<% IF permalinks; ['release', release.author, release.name].join('/'); ELSE; ['distribution', release.distribution].join('/'); END %>"><i class="fa fa-fw fa-cogs black"></i>Changes</a>
</li>
<% IF is_url(release.resources.homepage) %>
<li>
    <a class="nopopup" href="<% release.resources.homepage %>"><i class="fa fa-fw fa-external-link black"></i>Homepage</a>
</li>
<% END %>
<li>
    <a class="nopopup" href="/contributing-to/<% [release.author, release.name].join('/') %>"><i class="fa fa-fw fa-plus-circle black"></i>How to Contribute</a>
</li>
<% IF release.resources.repository %>
<li>
    <% IF is_url(release.resources.repository.web) %>
    <a data-keyboard-shortcut="g r" href="<% release.resources.repository.web %>"><i class="fa fa-fw fa-code-fork black"></i>Repository</a>
    <% END %>
    <% IF is_url(release.resources.repository.web) && is_url(release.resources.repository.url) %>
    (<a href="<% release.resources.repository.url %>"><% release.resources.repository.type %> clone</a>)
    <% ELSIF is_url(release.resources.repository.url) %>
    <a href="<% release.resources.repository.url %>"><i class="fa fa-fw fa-code-fork black"></i>Clone <% release.resources.repository.type %> repository</a>
    <% END %>
</li>
<% END %>
<li>
    <a data-keyboard-shortcut="g i" href="<% issues.url %>"><i class="fa fa-fw fa-info-circle black"></i>Issues</a>
    <% IF issues.defined("active") %>(<% issues.active %>)<% END %>
</li>
<% IF rating.count > 0 %>
<li>
    <% INCLUDE inc/rating.html prefix = '<i class="fa fa-fw fa-smile-o black"></i>', rating = rating, distribution = release.distribution %>
</li>
<% END %>
<li>
    <%
    testers_version = release.name.remove('^' _ release.distribution.quotemeta _ '-?');
    cpantesters_base = "https://www.cpantesters.org/distro/" _ release.distribution.chunk(1).0.uc _ "/" _ release.distribution _ ".html?oncpan=1&distmat=1&version=" _ (testers_version | uri) %>
    <a href="http://matrix.cpantesters.org/?dist=<% release.distribution | uri %>+<% testers_version | uri %>" title="Matrix"><i class="fa fa-fw fa-check-circle black"></i>Testers</a>
    <% IF release.tests.size %><span title="(pass / fail / na)">(<a href="<% cpantesters_base %>&amp;grade=2" style="color: #090"><% release.tests.pass %></a> / <a href="<% cpantesters_base %>&amp;grade=3" style="color: #900"><% release.tests.fail %></a> / <a href="<% cpantesters_base %>&amp;grade=4"><% release.tests.na %></a>)</span><% END %>
</li>
<li>
    <a href="http://cpants.cpanauthors.org/release/<% release.author %>/<% release.name %>"><i class="fa fa-fw fa-line-chart black"></i>Kwalitee</a>
</li>
<% IF release.license %>
<li><i class="fa fa-fw fa-gavel black"></i>License: <% release.license.join(', ') %></li>
<% END %>
<% IF irc.web %>
<li class="irc-chat">
    <div><a target="_blank" href="<% irc.web %>">Questions? Chat with us!</a></div>
</li>
<% END %>
<%
    BLOCK version_options;
    backpan = [];
    FOREACH version IN versions;
        IF release.name == version.name && release.author == version.author;
            NEXT;
        END;
        IF version.status == 'backpan';
            backpan.push(version);
            NEXT;
        END %>
    <option value="<% version.author; '/'; version.name; IF module; '/'; module.path; END %>"><% version.version _ (version.maturity == 'developer' ? ' DEV' : '') %> (<% version.author %> on <% version.date.dt_date_common %>)</option>
<% END; IF backpan.size %>
<optgroup label="BackPAN"></optgroup>
<% FOREACH version IN backpan %>
    <option value="<% version.author; '/'; version.name; IF module; '/'; module.path; END %>"><% version.version _ (version.maturity == 'developer' ? ' DEV' : '') %> (<%version.author %> on <% version.date.dt_date_common %>)
    </option>
<% END %>
<% END; END %>
