<table class="table table-condensed table-striped table-releases<% IF tablesorter %> tablesorter<% END %>">
	<thead>
  	<tr>
    	<th class="name pull-left-phone">Release</th>
    	<th class="date" colspan="2"><% day || "Uploaded" %></th>
  	</tr>
  </thead>
  <tbody>
  <%- FOREACH release IN releases %>
    <tr>
      <td><strong><a href="/release/<% IF release.status == 'latest'; release.distribution; ELSE; release.author; '/'; release.name; END %>" class="ellipsis" title="<% release.author; '/'; release.name %>"><% release.name %></a></strong></td>
      <td class="abstract pull-left-phone"><% IF release.abstract; release.abstract; END %></td>
      <td class="date"><span class="relatize" sort="<% release.date.dt_http %>"><% release.date.dt_http %></span></td>
    </tr>
  <% END %>
  </tbody>
</table>
