<li class="nav-header">Tools</li>
<% INCLUDE inc/perlybook.html %>
<li>
    <a href="<% release.download_url.replace('cpan\.cpantesters\.org', 'cpan.metacpan.org').replace('^http://', 'https://') %>">
    <i class="fa fa-download fa-fw black"></i>Download (<% release.stat.size | format_bytes %>b)
    </a>
</li>
<li>
    <a href="https://explorer.metacpan.org/?url=/<% module ? ['module', module.author, module.release, module.path].join("/") : ['release', release.author, release.name].join("/") %>">
    <i class="fa fa-list-alt fa-fw black"></i>MetaCPAN Explorer
    </a>
</li>
<li>
    <a href="<% 'http://cpanratings.perl.org/rate/?distribution=' _ release.distribution %>">
    <i class="fa fa-star fa-fw black"></i>Rate this distribution
    </a>
</li>
<li>
    <a href="/feed/distribution/<% release.distribution %>">
    <i class="fa fa-rss-square fa-fw black"></i>Subscribe to distribution
    </a>
</li>
<li>
    <form action="/search">
        <input type="hidden" name="q" value="dist:<% release.distribution %>">
        <input type="search" name="q" placeholder="Search distribution" style="width: 153px" class="form-control tool-bar-form">
        <input type="submit" style="display: none">
    </form>
</li>
<%- IF versions.size > 1 %>
<li>
    <select onchange="document.location.href='/<% IF module; "module"; ELSE; "release"; END %>/'+this.value" class="form-control tool-bar-form">
        <option>Jump to version</option>
        <%- PROCESS version_options %>
    </select>
</li>
<li>
    <select name="release" onchange="document.location.href='/diff/file/?target=<% [release.author, release.name, module.path].join("/") %>&amp;source=' + this.value" class="form-control tool-bar-form">
        <option>Diff with version</option>
        <%- PROCESS version_options %>
    </select>
</li>
<%- END %>
<% IF release.metadata.x_help_wanted %>
<li class="nav-header">Help Wanted</li>
<ul>
    <%- FOREACH position IN release.metadata.x_help_wanted %>
    <li><% position %></li>
    <%- END %>
</ul>
<%- END %>
<li class="nav-header">Permalinks</li>
<li>
	<button class="btn btn-link" id="install_dialog">Install Instructions</button>
	<% INCLUDE inc/module-install.html %>
</li>
<li>
    <a href="/<% module ? "pod/release" : "release" %>/<% release.author %>/<% release.name %>/<% module.path %>">This version</a>
</li>
<%- IF canonical %>
<li>
    <a href="<% canonical %>">Latest version</a>
</li>
<li class="nav-header">S.C.O</li>
<li>
    <a href="http://search.cpan.org/~<% release.author %>/<% release.name %>/<% module.path %>" rel="nofollow">This version</a>
</li>
<li>
    <a href="http://search.cpan.org/<% module ? "perldoc?$module.documentation" : ["dist", release.metadata.name].join('/') %>" rel="nofollow">Latest version</a>
</li>
<%- END %>
