<table <% IF table_id %> id="<% table_id %>"<% END %>
  <% IF tablesorter %>data-default-sort="<% default_sort || '1,0' %>"<% END %>
  class="table table-condensed table-striped table-releases<% IF tablesorter %> tablesorter<% END %>">
    <thead>
    <tr>
      <th class="river-gauge"><span class="sr-only">River gauge</span></th>
      <th class="name pull-left-phone">Release</th>
      <th class="hidden-phone invisible no-sort"></th>
      <th class="date"><% day || "Uploaded" %></th>
    </tr>
  </thead>
  <tbody>
  <%- FOREACH release IN releases %>
    <tr>
      <td class="river-gauge" sort="<% release.river.total || 0 %>"><% INCLUDE inc/river-gauge.html, distribution = release.distribution, river = release.river %></td>
      <td class="name"><strong><a href="/release/<% IF release.status == 'latest'; release.distribution; ELSE; release.author; '/'; release.name; END %>" class="ellipsis" title="<% release.author; '/'; release.name %>"><% release.name %></a></strong></td>
      <td class="abstract"><% IF release.abstract; release.abstract; END %></td>
      <td class="date relatize" sort="<% release.date.dt_http %>"><% release.date.dt_http %></td>
    </tr>
  <% END %>
  </tbody>
</table>
