<% IF user_exists -%>
<form action="/account/stargazer/add" style="display: inline" onsubmit="return starModule(this)">
    <input type="hidden" name="release" value="<% module.release %>">
    <input type="hidden" name="author" value="<% module.author %>">
    <input type="hidden" name="module" value="<% module.documentation %>">
    <% IF active_star  %>
    <input type="hidden" name="remove" value="1">
    <button type="submit" class="stargazer active"><i class="icon-star"></i> Unstar</button>
    <% ELSE %> <button type="submit" class="stargazer highlight"><i class="icon-star-empty"></i> Star</button>
    <% END %>
</form>
<% ELSE -%>
<a href="" onclick="alert('Please sign in to bookmark the Module'); return false" class="stargazer highlight"><i class="icon-star-empty"></i> Star</a><% END -%>
