<ul class="nav-list slidepanel nav nav-pills nav-stacked">
    <li<% IF req.action == 'tools' %> class="active"<% END %>>
        <a href="/tools">Tools</a>
    </li>
    <li<% IF req.action == 'pod2html' %> class="active"<% END %>>
        <a href="/pod2html">Pod Renderer</a>
    </li>
    <li<% IF req.action == '/lab/dashboard' %> class="active"<% END %>>
        <a href="/lab/dashboard">Lab: Dashboard</a>
    </li>
    <li<% IF req.action == '/lab/dependencies' %> class="active"<% END %>>
        <a href="/lab/dependencies">Lab: Dependencies</a>
    </li>
</ul>
