<% PROCESS "lab/list.html" %>

<div class="content">

<h2>Personal Dashboard</h2>

<%- IF user_exists %>
  <% IF pauseid %>

    <% IF report.missing_repos.size %>
      <h3>Missing repository</h3>
      <ul>
      <% FOR distro IN report.missing_repos %>
        <li><a href="/release/<% distro.name %>"><% distro.name %></a></li>
      <% END %>
      </ul>
    <% ELSE %>
      Congratulations. All of your distributions have repositories.
    <% END %>

    <% IF report.missing_licenses.size %>
      <h3>Missing licenses</h3>
      <ul>
      <% FOR distro IN report.missing_licenses %>
        <li><a href="/release/<% distro.name %>"><% distro.name %></a></li>
      <% END %>
      </ul>
    <% ELSE %>
      Congratulations. All of your distributions have license.
    <% END %>
  <% END %>

<style>
table {
    border: 1px solid #b8d7f9;
}
td {
    border: 1px solid #b8d7f9;
    text-align: center;
}
th {
    border: 1px solid #b8d7f9;
    padding-left: 5px;
    padding-right: 5px;
}
td:nth-child(1) {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

tr:nth-child(even) {
    background-color: #e7f1fd;
}
</style>

  <% IF report.distros.size %>
    <h3>Distributions</h3>
    <table id="distro-table">
    <tr>
       <th></th>
       <th colspan="2">Missing</th>
       <th></th>
       <th colspan="3">Tests</th>
    </tr>
    <tr class="distro-header">
      <th class="distro-name">Name</th>
      <th class="distro-repo">Repo</th>
      <th class="distro-liense">License</th>
      <th class="distro-bugs">Bugs</th>
      <th class="distro-test" >pass</th>
      <th class="distro-test" >fail</th>
      <th class="distro-test" >na</th>
    </tr>
    <% FOR d IN report.distros.keys.sort %>
    <tr class="distro-row">
      <td class="distro-name"><a href="/release/<% d %>"><% d %></a></td>
      <td class="distro-repo"><% IF report.distros.$d.repo %>X<% END %></td>
      <td class="distro-license"><% IF report.distros.$d.license %>X<% END %></td>
      <td class="distro-bugs"><% report.distros.$d.bugs %></td>
      <% tests = report.distros.$d.test %>
      <td class="distro-tests" style="color: #090"><% tests.pass %></td>
      <td class="distro-tests" style="color: #900"><% tests.fail %></td>
      <td class="distro-tests" style=""><% tests.na %></td>
    </tr>
    <% END %>
    </table>
    <ul>
      <li>Repo X - missing link to public VCS in META files <a href="http://perlmaven.com/how-to-add-link-to-version-control-system-of-a-cpan-distributions">ways to fix it</a>.</li>
      <li>License X - missing license information in META files <a href="http://perlmaven.com/how-to-add-the-license-field-to-meta-files-on-cpan">ways to fix it</a>.</li>
      <li>Bugs - number of open bugs/tickets/issues.</li>
    </ul>
  <% END %>

<% ELSE %>
The dashboard is only available to people who have logged in to MetaCPAN.
<% END %>

<!--
<% USE Dumper %>
<pre>
<% Dumper.dump(report) %>
</pre>
-->
</div>
