<% PROCESS "inc/tools-bar.html" %>

<div class="content">

<h2>Personal Dashboard</h2>

<%- IF user_exists %>
  <% IF pauseid %>
  <% END %>

  <% IF report.distros.size %>
    <h3>Distributions</h3>
    <table class="table-bordered table-striped tablesorter dashboard-dist-table">
    <thead>
    <tr>
       <th class="no-sort" colspan="4"></th>
       <th class="no-sort" colspan="4">Missing</th>
       <th class="no-sort" colspan="4">Tests</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th class="no-sort">Version</th>
      <th>Issues</th>
      <th>Repo</th>
      <th>License</th>
      <th>Abstract</th>
      <th>Unauthorized</th>
      <th>pass</th>
      <th>fail</th>
      <th>na</th>
      <th>pass/total</th>
    </tr>
    </thead>
    <tbody>
    <% FOR d IN report.distros.keys.sort %>
    <tr>
      <td><a href="/release/<% d %>"><% d %></a></td>
      <td class="date relatize" sort="<% report.distros.$d.date %>"><% report.distros.$d.date %></td>
      <td><% report.distros.$d.version %></td>
      <td><% report.distros.$d.bugs %></td>
      <td class="missing" <% IF report.distros.$d.repo %> title="missing link to public VCS in META files">R<% ELSE %>><% END %></td>
      <td class="missing" <% IF report.distros.$d.license %> title="missing license information in META files">L<% ELSE %>><% END %></td>
      <td class="missing" <% IF report.distros.$d.abstract %> title="Abstract is missing">A<% ELSE %>><% END %></td>
      <td class="missing" <% IF report.distros.$d.unauthorized %> title="Unauthorized module">U<% ELSE %>><% END %></td>
      <% tests = report.distros.$d.test %>
      <td class="tests-pass"><% tests.pass %></td>
      <td class="tests-fail"><% tests.fail %></td>
      <td class="tests-na"><% tests.na %></td>
      <td class="test-ratio <% IF tests.ratio > 95 %>test-ratio-good<% ELSIF tests.ratio < 80 %>test-ratio-bad<% END %>"><% IF tests.ratio.length %><% tests.ratio %>%<% END %></td>
    </tr>
    <% END %>
    </tbody>
    </table>
    <ul>
      <li>Repo R - missing link to public VCS in META files <a href="https://perlmaven.com/how-to-add-link-to-version-control-system-of-a-cpan-distributions">ways to fix it</a>.</li>
      <li>License L - missing license information in META files <a href="https://perlmaven.com/how-to-add-the-license-field-to-meta-files-on-cpan">ways to fix it</a>.</li>
      <li>Abstract A - the <b>=head1 NAME</b> field is missing. <a href="https://blogs.perl.org/users/neilb/2014/07/give-your-modules-a-good-abstract.html">How to write good abstract</a>.</li>
      <li>Unauthorized U - One or more of the modules in this distribution are 'owned' by another CPAN author and you don't have co-maintainer rights.</li>
      <li>Bugs - number of open bugs/tickets/issues.</li>
    </ul>
  <% END %>

<% ELSE %>
The dashboard is only available to people who have logged in to MetaCPAN.
<% END %>

</div>
