.about {
    margin-bottom: 10px;

    h1, h2, h3 {
        margin: 10px 10px 10px 8px;
    }

    h2 {
        margin-left: 12px;
    }

    h3 {
        margin-left: 16px;
    }

    p {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    ul {
        margin-left: 30px;
        margin-bottom: 10px;
        list-style-type: disc;
        padding-left: 10px;
    }
}

.about-sponsor {
    table {
        width: 100%;
    }

    td {
        padding: 8px;
        vertical-align: top;
    }
}
