.account-settings {
    form {
        margin: 0px;
    }
    td {
        padding: 5px;
    }
    .valid {
        background-color: #900;
        padding: 5px;
        float: right;
        font-size: 1.2em;
        color: #fff;
        font-weight: bold;
        display: none;
    }

    .invalid {
        display: inline-block;
    }
    // To fix the author-pic float-right crap..
    .form-horizontal {
        .control-group:after {
            clear: left;
        }
    }

    // to fix repeating fields like email etc

    .repeatable .control-group {
        .controls:nth-child(n+3) {
            margin-top: 3px;
        }
    }

    .repeatable .form-group {
        .input-group {
            margin-bottom: 15px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    // The last-updated text needs better alignment
    p.checkbox {
        padding-left: 0;
    }


    // profile logos really should be in css I think..

    .profiles {
        .form-group {
            margin-bottom: 5px;
            .control-label {
                text-align: left;
                padding-top: 0;
                padding-left: 20px !important;
                .input-small {
                    width: 120px;
                }
            }

            &.profile {
                .control-label {
                    padding-top: 5px;
                    background: no-repeat left 75%;
                    left: 20px;
                }
                &.profile-bitbucket .control-label {
                    background-image: url(/static/images/profile/bitbucket.png)
                }
                &.profile-blinklist .control-label {
                    background-image: url(/static/images/profile/blinklist.png);
                }
                &.profile-brightkite .control-label {
                    background-image: url(/static/images/profile/brightkite.png);
                }
                &.profile-coderwall .control-label {
                    background-image: url(/static/images/profile/coderwall.png);
                }
                &.profile-couchsurfing .control-label {
                    background-image: url(/static/images/profile/couchsurfing.png);
                }
                &.profile-design_float .control-label {
                    background-image: url(/static/images/profile/design_float.png);
                }
                &.profile-dopplr .control-label {
                    background-image: url(/static/images/profile/dopplr.png);
                }
                &.profile-dotshare .control-label {
                    background-image: url(/static/images/profile/dotshare.png);
                }
                &.profile-email .control-label {
                    background-image: url(/static/images/profile/email.png);
                }
                &.profile-facebook .control-label {
                    background-image: url(/static/images/profile/facebook.png);
                }
                &.profile-feed .control-label {
                    background-image: url(/static/images/profile/feed.png);
                }
                &.profile-flickr .control-label {
                    background-image: url(/static/images/profile/flickr.png);
                }
                &.profile-friendfeed .control-label {
                    background-image: url(/static/images/profile/friendfeed.png);
                }
                &.profile-furl .control-label {
                    background-image: url(/static/images/profile/furl.png);
                }
                &.profile-gamespot .control-label {
                    background-image: url(/static/images/profile/gamespot.png);
                }
                &.profile-geeklist .control-label {
                    background-image: url(/static/images/profile/geeklist.png);
                }
                &.profile-github-meets-cpan .control-label {
                    background-image: url(/static/images/profile/github-meets-cpan.png);
                }
                &.profile-github .control-label {
                    background-image: url(/static/images/profile/github.png);
                }
                &.profile-gitlab .control-label {
                    background-image: url(/static/images/profile/gitlab.png);
                }
                &.profile-gitorious .control-label {
                    background-image: url(/static/images/profile/gitorious.png);
                }
                &.profile-gittip .control-label {
                    background-image: url(/static/images/profile/gittip.png);
                }
                &.profile-hackernews .control-label {
                    background-image: url(/static/images/profile/hackernews.png);
                }
                &.profile-hackerrank .control-label {
                    background-image: url(/static/images/profile/hackerrank.png);
                }
                &.profile-hackthissite .control-label {
                    background-image: url(/static/images/profile/hackthissite.png);
                }
                &.profile-identica .control-label {
                    background-image: url(/static/images/profile/identica.png);
                }
                &.profile-lastfm .control-label {
                    background-image: url(/static/images/profile/lastfm.png);
                }
                &.profile-linkedin .control-label {
                    background-image: url(/static/images/profile/linkedin.png);
                }
                &.profile-magnolia .control-label {
                    background-image: url(/static/images/profile/magnolia.png);
                }
                &.profile-metacpan .control-label {
                    background-image: url(/static/images/profile/metacpan.png);
                }
                &.profile-meetup .control-label {
                    background-image: url(/static/images/profile/meetup.png);
                }
                &.profile-mixx .control-label {
                    background-image: url(/static/images/profile/mixx.png);
                }
                &.profile-myspace .control-label {
                    background-image: url(/static/images/profile/myspace.png);
                }
                &.profile-nerdability .control-label {
                    background-image: url(/static/images/profile/nerdability.png);
                }
                &.profile-newsblur .control-label {
                    background-image: url(/static/images/profile/newsblur.png);
                }
                &.profile-newsvine .control-label {
                    background-image: url(/static/images/profile/newsvine.png);
                }
                &.profile-ohloh .control-label {
                    background-image: url(/static/images/profile/ohloh.png);
                }
                &.profile-perlmonks .control-label {
                    background-image: url(/static/images/profile/perlmonks.png);
                }
                &.profile-pinboard .control-label {
                    background-image: url(/static/images/profile/pinboard.png);
                }
                &.profile-playperl .control-label {
                    background-image: url(/static/images/profile/playperl.png);
                }
                &.profile-posterous .control-label {
                    background-image: url(/static/images/profile/posterous.png);
                }
                &.profile-prepan .control-label {
                    background-image: url(/static/images/profile/prepan.png);
                }
                &.profile-reddit .control-label {
                    background-image: url(/static/images/profile/reddit.png);
                }
                &.profile-slideshare .control-label {
                    background-image: url(/static/images/profile/slideshare.png);
                }
                &.profile-sourceforge .control-label {
                    background-image: url(/static/images/profile/sourceforge.png);
                }
                &.profile-speakerdeck .control-label {
                    background-image: url(/static/images/profile/speakerdeck.png);
                }
                &.profile-sphere .control-label {
                    background-image: url(/static/images/profile/sphere.png);
                }
                &.profile-sphinn .control-label {
                    background-image: url(/static/images/profile/sphinn.png);
                }
                &.profile-stackexchange .control-label {
                    background-image: url(/static/images/profile/stackexchange.png);
                }
                &.profile-stackoverflow .control-label {
                    background-image: url(/static/images/profile/stackoverflow.png);
                }
                &.profile-stackoverflowcareers .control-label {
                    background-image: url(/static/images/profile/stackoverflowcareers.png);
                }
                &.profile-steam .control-label {
                    background-image: url(/static/images/profile/steam.png);
                }
                &.profile-stumbleupon .control-label {
                    background-image: url(/static/images/profile/stumbleupon.png);
                }
                &.profile-technorati .control-label {
                    background-image: url(/static/images/profile/technorati.png);
                }
                &.profile-tripadvisor .control-label {
                    background-image: url(/static/images/profile/tripadvisor.png);
                }
                &.profile-tumblr .control-label {
                    background-image: url(/static/images/profile/tumblr.png);
                }
                &.profile-twitter .control-label {
                    background-image: url(/static/images/profile/twitter.png);
                }
                &.profile-vimeo .control-label {
                    background-image: url(/static/images/profile/vimeo.png);
                }
                &.profile-youtube .control-label {
                    background-image: url(/static/images/profile/youtube.png);
                }

            }
        }
    }
}

@media (max-width: 480px) {
    .account-settings {
        form {
            margin-bottom: 20px;
        }
        /* author-pic stuff for account/profile page on mobile */
        .author-pic-container {
            float: none;
        }

        /* We hide the remove text on mobile, to make the button smaller */
        .profiles {
            .remove {
                span { display: none; }
            }

            .control-group {
                .control-label {
                    padding-left: 0;
                }
                &.profile {
                    .control-label {
                        padding-left: 20px;
                    }
                }
            }
        }

        .pull-right {
            float: none !important;
        }
    }
}

.onoffswitch {
    position: relative; width: 90px;
    display: inline-block;
    margin-left: 1em;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 14px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Dark";
    padding-left: 10px;
    background-color: rgb(36,36,36); color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Light";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 22px;
    height: 22px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 22px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
fieldset.inner > input {
    display: none;
}
fieldset.inner > label {
    width: 100%;
}
fieldset.inner {
    position: relative;
}
input:checked ~ label span.arrow {
    top: -0.5em;
    transform: rotate(180deg);
}

fieldset.inner input ~ .row .col-md-10 > .form-group *,
fieldset.inner input ~ .row .col-md-10 > .form-group {
    transition: 1s max-height, 1s margin;
}

fieldset.inner input:checked ~ .row .col-md-10 > .form-group *,
fieldset.inner input:checked ~ .row .col-md-10 > .form-group {
    max-height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    float: none;
    transition: 1s max-height, 1s margin;
    pointer-events: none;
}

.inner i.fa.fa-chevron-down {
    position: absolute;
    right: 2em;
    top: 0;
}

.inner input:checked ~ label i.fa.fa-chevron-down {
    transform: rotate(180deg);
}


