.author-name {
    display: inline-block;
}

.author-avatar {
    width: 130px;
    height: 130px;
    border-radius: 8px;
    margin-bottom: 5px;
    .box-shadow(2px 2px 5px #ccc);
}

.author-pic {
    text-align: center;

    span, strong {
        display: block;
    }

    img {
        .author-avatar;
    }
}

.author-results {
    float: left;
    width: 100%;

    ul  {
        margin: 10px 0;
        padding-left: 0;
    }

    li {
        float: left;
        width: 190px;
        padding: 5px 5px 5px 45px;
        margin-right: 10px;
        border: 1px solid white;
        overflow: hidden;
        height: 60px;
    }

    img {
        width: 30px;
        height: 30px;
        margin-left: -40px;
        float: left;
        border-radius: 4px;
        margin-bottom: 5px;
        .box-shadow(1px 1px 3px #ccc);
    }

    a {
        display: block;
    }
}

@media (max-width: 480px) {
    .author-pic {
        > a {
            > img {
                width: 65px;
                height: 65px
            }
        }
    }
}

#feed_subscription {
    &.page-header {
        margin: 0 0 5px;
        font-weight: bold;
        margin-left: 5px;
    }

    p {
        font-size: 1.3em;
        display: inline;
    }

    a {
        display: inline;
        width: 20px;
        height: 20px;
        padding-right: 20px;
        float: right;
    }

    .fa {
        float: right;
        margin-right: -15px;
    }
}
