.nav-header {
//  .nav .nav-header;
}

.breadcrumbs a, .breadcrumbs span {
    font-weight: bold;
    font-size: 1.2em;
    
}

.breadcrumbs {
    margin-bottom: 5px;
    .dropdown a {
        text-decoration: none;
        font-size: 0.8em;
    }

    .release {
    	position: relative;
    	display: inline;

    	select {
    		position: absolute;
    		right: -10px;
    		width: 30px;
    		opacity: 0;
    	}
    }
}