.page-home .nav-list-container {
    display: none;
}

.page-home .page-content {
    align-items: center;
    display: flex;
    grid-template-areas: 'content';
    grid-template-columns: 1fr;
    justify-content: center;
}

.page-home .menu-items {
    visibility: hidden;
}

.home {
    display: grid;

    .home-hero {
      display: grid;
      margin: auto;
      max-width: 800px;
      padding: 20px;
      place-content: center;
    }

    .hero-logo {
        margin-bottom: 40px;

        img {
          display: grid;
          margin: auto;
          max-width: 400px;
          width: 80%;
        }
    }

    .btn {
        font-size: 1.2em;
    }

    .helper-blurb {
        background-color: #F2F4F4;
        border-radius: 5px;
        box-shadow: 0 1px 13px 0 ~"rgb(0 0 0 / 10%)", 0 1px 5px 0 ~"rgb(0 0 0 / 6%)";
        font-weight: bold;
        margin-top: 20px;
        padding: 20px;
        text-align: center;
    }

    #metacpan_search-input {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        font-size: 1.4em;
        padding-left: 50px;
        height: 60px;
        width: 100%;
    }

    .form-group {
        margin-bottom: 5px;
    }

    .alert {
        display: inline-block;
        padding: 5px 2em;
        border-radius: 7px;

        a {
            color: inherit;
            text-decoration: underline;
        }
    }

    form {
        display: grid;
        margin-bottom: 20px;
    }

    .news-highlight {
        margin-top: 2em;
        text-align: center;
        font-size: 120%;
    }

    .keyboard-shortcuts {
        justify-self: end;
        margin-top: 10px;
    }
}

 .sponsor-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    place-content: center;
}

.metahack-platinum {
    margin-top: -25px;
    text-align: center;
    font-size: 120%;

    img.booking {
        height: 1.1em;
    }

    img.cpanel {
        height: 1em;
        vertical-align: baseline;
    }
}
