.nav-list {
    padding: 0px 15px 0px 15px;
    width: 180px;
    margin-bottom: 0;

    &.nav {
        > li > a {
            display: inline;
            &:hover {
                background: transparent;
                text-decoration: underline;
            }
        }
        &.dependencies > li > a {
            display: block;
            padding: 0;
            margin: 0;
            width: 100%;
        }

        &.slidepanel > li > a {
            padding-right: 0;
        }


    }

    .nav-header {
        margin-right: auto;
    }

    select, input[type=text] {
        width: 165px;
        line-height: auto;
    }

    form {
        margin: 0;
    }

    ul& {
        padding-left: 2px;

        &.box-right {
            padding-left: 10px;
        }
    }

    > li > a,
    .nav-header {
        margin-left: -15px;
        margin-right: -15px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    }

    > li > a {
        padding: 3px 15px;
        line-height: 20px;

        &.perlybook {
            margin: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }

    > .active {
      > a,
      > a:hover,
      > a:focus {
        color: white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
        background-color: #08c;
      }
    }

    .fa, .glyphicon {
        margin-right: 2px;
    }

    .divider {
        width: 100%;
        height: 1px;
        margin: 9px 0 9px;
        overflow: hidden;
        background-color: #e5e5e5;
    }

    &.slidepanel {
        float: left;

        &.sticky-panel-top {
            top: 0px;
        }
        &.sticky-panel-bottom {
            position: absolute;
            bottom: 0px;
        }
        &.sticky-panel-sticky {
            position: fixed;
        }
    }
}


.nav {
    > li {
        line-height: 20px;
    }

    //Space them out when they follow another list item (link)
    li + .nav-header {
        margin-top: 5px;
        line-height: 25px;
    }
}

.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.428571429;
    color: #999;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    text-transform: uppercase;
}
