body {
	margin: 0;
	padding: 0;
}

.plussers_disp {
	font-size: 0;
	width: 1500px;
	margin: 0 auto;
	margin-bottom: 100px;
 	text-align: justify;
       -moz-column-count: 12;
       -webkit-column-count: 12;
       -o-column-count: 12;
       -ms-column-count: 12;
        column-count: 12;
	
        a {
		margin: 20px;
		border: 4px solid transparent;
		display: inline-block;
		-webkit-border-radius: 12px;
		border-radius: 12px;
		font-size: 12pt;
	}
	
	img {
		-webkit-border-radius: 9px;
		border-radius: 9px;
		display: block;
		margin: 0 auto;
	        width: 75px;
                height: 75px;
	}
}
