.pod {
    dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
        margin: 5px;
        padding: 5px;
    }

    ol {
        list-style: decimal;
        margin-left:40px;

    }

    ul {
        list-style: disc;
        margin-left: 20px;
        padding-left: 2em;
    }
    ul#index, ul#index ul {
        padding-left: 0;
    }
    ul li {
        margin-bottom: 0.5em;
    }
    ul#index li {
        margin-bottom: 0;
        line-height: 1.7em;
    }
    ul li p {
        margin: 0;
        padding: 0;
    }

    pre {
        margin-left: 20px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }

    h3, h4 {
        font-size: 1.1em;
    }

    h1, h2, h3, h4 {
        font-weight: bold;
    }

    p, dt {
        font-size: 1.1em;
    }

    dt {
        font-weight: bold;
    }

    img {
        vertical-align: top;
    }

}

ul#index, #index ul { list-style-type: none; }

#index-container {
    overflow-y: hidden;

    .index-border {
        display: inline-block;
        border: 1px solid rgb(215, 215, 215);
    }

    #index {
        padding: 0 10px 3px;
        margin: 0;
    }

    .toggle-show {
        display: none;
    }

    &.hide-index {
        .toggle-hide {
            display: none;
        }
        .toggle-show {
            display: inline;
        }
        #index {
            height: 0;
        }
    }
}

#index-header {
    text-align: center;
    padding-top: 3px;

    button {
        padding: 0;
    }
}

#index {
    overflow-y: hidden;
}

.nogutter, .pod pre {
    padding-left: 10px;
}
.pod p.pod-error {
    border-left: 1px solid #f32;
    margin-left: -16px;
    padding-left: 16px;
}

#pod-errors {
    margin: 3em 0 0 0 ;
    padding: 10px;
    background-color: #ffffee;
    width: 36em;
    border: 1px solid #cccccc;

    &.collapsed {
        border: none;
        background-color: transparent;

        #pod-error-detail {
          display: none;
        }
    }

    p.title {
        margin: 0;
        padding: 0;
        font-size: 1.2em;
        font-weight: bold;
        color: #CC3300;
        cursor: pointer;
    }

}

#pod-error-detail {
    dl {
        margin: 0;
        padding: 0;

        dt {
            padding: 0;
            margin: 0.8em 0 0 0;
        }
        dd {
            margin: 0;
            padding: 0 0 0 3em;
        }
    }
    p {
        margin: 0 0 0.4em 0;
        padding: 0;
    }
}
