.content {
    .release-modules,
    .release-provides {
        .unauthorized {
            color: #f00;
            font-weight: bold;
            padding-left: 10px;
            text-align: right;
        }
    }
    .file-group {
      margin-bottom: 10px;
    }
}

/* Changes in release page
 * See /release/CPAN-Changes for example
 */
.last-changes {
    ul {
        margin-bottom: 1em;
        padding-left: 20px;
    }
    ul, ul ul ul {
        list-style: disc;
    }
    ul ul, ul ul ul ul {
        list-style: circle;
    }

    > ul > .group-header {
        list-style: none;
        > .change-entry {
            font-weight: bold;
        }
    }
}
