body .syntaxhighlighter {
    font-size: 100% !important;
    margin: 0 !important;
    /* needs higher specificity than the syntax highligher's rules */
    &, *, * *, * * *, * * * * {
        font-family: inherit !important;
    }
}

/* work around incompatibility between bootstrap and syntaxhighlighter
 * https://github.com/alexgorbatchev/syntaxhighlighter/issues/275 */
.syntaxhighlighter .container:before,
.syntaxhighlighter .container:after {
    content: none !important;
}

.pod-hidden .pod-line {
    display: none;
}
