.syntaxhighlighter {
    .gutter {
        .line {
            border-left: 1px solid rgb(0 0 0 / 0%);
            border-right: 1px solid rgb(0 0 0 / 0%);
        }
        .pod-line {
            border-left: 1px solid rgb(0 0 0 / 15%);
            border-right: 1px solid rgb(0 0 0 / 15%);
            background-color: rgb(0 0 0 / 5%);
        }
    }
    .pod-line:first-child,
    :not(.pod-line) + .pod-line {
        border-top: 1px solid rgb(0 0 0 / 15%);
    }
    .pod-line + :not(.pod-line) {
        border-top: 1px solid rgb(0 0 0 / 15%);
    }
    .pod-line:last-child {
        border-bottom: 1px solid rgb(0 0 0 / 15%);
    }

    .gutter {
        .pod-placeholder {
            text-align: right;
            padding: 0 0.5em;
            border-right: 3px solid transparent;

            position: absolute;
            height: 0px;
            overflow: hidden;
        }
    }

    .pod-placeholder {
        font-style: italic;
        background-color: rgb(0 0 0 / 15%);

        position: absolute;
        right: 0;
        border-radius: 0 0 0 5px;

        button {
            padding: 0 1em;
        }
    }
}

.pod-hidden {
    .syntaxhighlighter {
        div.pod-placeholder {
            display: block;
            position: static;
            height: auto;
            overflow: auto;

            right: auto;
            padding-left: 0;
            border-radius: 0;

            button {
                text-align: left;
                padding-left: 2em;
                width: 100%;
            }
        }
    }
}

.pod-hidden {
    .pod-line {
        display: none;
    }
    .hide-pod {
        display: none;
    }
    .show-pod {
        display: inline;
    }
}

.show-pod {
    display: none;
}
