/* tables */

table.tablesorter {
    thead tr {
        th.tablesorter-header {
            cursor: pointer;
            height: auto;
            font-weight: bold;
            white-space: nowrap;

            .tablesorter-header-inner {
                display: inline;
            }

            &:after {
                .fa;
                line-height: inherit;
                display: inline;
                padding-left: 5px;
                content: @fa-var-sort;
            }
            &.tablesorter-headerDesc:after {
                content: @fa-var-caret-down;
            }
            &.tablesorter-headerAsc:after {
                content: @fa-var-caret-up;
            }
        }
    }
}
