.py-5 form + p {
    margin-top: 15px;
}

.account-settings {
    margin-top: 40px;

    form {
        margin: 0px;
    }
    td {
        padding: 5px;
    }

    textarea.invalid {
        background:
            url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='18px' width='74px'><text text-anchor='end' x='74px' y='18' fill='white' font-size='18' font-weight='bold' font-family='&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif'>invalid</text></svg>")
                bottom 0.2em right 0.2em / auto 1em no-repeat,
            linear-gradient(
                to bottom right,
                rgba(153, 0, 0, 0) 90%,
                rgb(153, 0, 0) 95%
            );
    }

    // to fix repeating fields like email etc

    .repeatable .mb-3 {
        .controls:nth-child(n + 3) {
            margin-top: 3px;
        }
    }

    .repeatable .mb-3 {
        .input-group {
            margin-bottom: 15px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    // profile logos really should be in css I think..

    .profiles {
        .mb-3 {
            margin-bottom: 5px;
            .col-form-label {
                text-align: left;
                padding-top: 0;
                padding-left: 20px;
                .input-small {
                    width: 120px;
                }
            }

            &.profile {
                .col-form-label {
                    padding-top: 5px;
                    background: no-repeat left 75%;
                    left: 20px;
                }
                &.profile-bitbucket .col-form-label {
                    background-image: url(/static/images/profile/bitbucket.png);
                }
                &.profile-blinklist .col-form-label {
                    background-image: url(/static/images/profile/blinklist.png);
                }
                &.profile-brightkite .col-form-label {
                    background-image: url(/static/images/profile/brightkite.png);
                }
                &.profile-codeberg .col-form-label {
                    background-image: url(/static/images/profile/codeberg.png);
                }
                &.profile-coderwall .col-form-label {
                    background-image: url(/static/images/profile/coderwall.png);
                }
                &.profile-couchsurfing .col-form-label {
                    background-image: url(/static/images/profile/couchsurfing.png);
                }
                &.profile-design_float .col-form-label {
                    background-image: url(/static/images/profile/design_float.png);
                }
                &.profile-dopplr .col-form-label {
                    background-image: url(/static/images/profile/dopplr.png);
                }
                &.profile-dotshare .col-form-label {
                    background-image: url(/static/images/profile/dotshare.png);
                }
                &.profile-email .col-form-label {
                    background-image: url(/static/images/profile/email.png);
                }
                &.profile-facebook .col-form-label {
                    background-image: url(/static/images/profile/facebook.png);
                }
                &.profile-feed .col-form-label {
                    background-image: url(/static/images/profile/feed.png);
                }
                &.profile-flickr .col-form-label {
                    background-image: url(/static/images/profile/flickr.png);
                }
                &.profile-friendfeed .col-form-label {
                    background-image: url(/static/images/profile/friendfeed.png);
                }
                &.profile-furl .col-form-label {
                    background-image: url(/static/images/profile/furl.png);
                }
                &.profile-gamespot .col-form-label {
                    background-image: url(/static/images/profile/gamespot.png);
                }
                &.profile-geeklist .col-form-label {
                    background-image: url(/static/images/profile/geeklist.png);
                }
                &.profile-github .col-form-label {
                    background-image: url(/static/images/profile/github.png);
                }
                &.profile-gitlab .col-form-label {
                    background-image: url(/static/images/profile/gitlab.png);
                }
                &.profile-gitorious .col-form-label {
                    background-image: url(/static/images/profile/gitorious.png);
                }
                &.profile-gittip .col-form-label {
                    background-image: url(/static/images/profile/gittip.png);
                }
                &.profile-hackernews .col-form-label {
                    background-image: url(/static/images/profile/hackernews.png);
                }
                &.profile-hackerrank .col-form-label {
                    background-image: url(/static/images/profile/hackerrank.png);
                }
                &.profile-hackthissite .col-form-label {
                    background-image: url(/static/images/profile/hackthissite.png);
                }
                &.profile-identica .col-form-label {
                    background-image: url(/static/images/profile/identica.png);
                }
                &.profile-instagram .col-form-label {
                    background-image: url(/static/images/profile/instagram.png);
                }
                &.profile-lastfm .col-form-label {
                    background-image: url(/static/images/profile/lastfm.png);
                }
                &.profile-linkedin .col-form-label {
                    background-image: url(/static/images/profile/linkedin.png);
                }
                &.profile-magnolia .col-form-label {
                    background-image: url(/static/images/profile/magnolia.png);
                }
                &.profile-metacpan .col-form-label {
                    background-image: url(/static/images/profile/metacpan.png);
                }
                &.profile-meetup .col-form-label {
                    background-image: url(/static/images/profile/meetup.png);
                }
                &.profile-mixx .col-form-label {
                    background-image: url(/static/images/profile/mixx.png);
                }
                &.profile-myspace .col-form-label {
                    background-image: url(/static/images/profile/myspace.png);
                }
                &.profile-nerdability .col-form-label {
                    background-image: url(/static/images/profile/nerdability.png);
                }
                &.profile-newsblur .col-form-label {
                    background-image: url(/static/images/profile/newsblur.png);
                }
                &.profile-newsvine .col-form-label {
                    background-image: url(/static/images/profile/newsvine.png);
                }
                &.profile-ohloh .col-form-label {
                    background-image: url(/static/images/profile/ohloh.png);
                }
                &.profile-perlmonks .col-form-label {
                    background-image: url(/static/images/profile/perlmonks.png);
                }
                &.profile-pinboard .col-form-label {
                    background-image: url(/static/images/profile/pinboard.png);
                }
                &.profile-playperl .col-form-label {
                    background-image: url(/static/images/profile/playperl.png);
                }
                &.profile-posterous .col-form-label {
                    background-image: url(/static/images/profile/posterous.png);
                }
                &.profile-reddit .col-form-label {
                    background-image: url(/static/images/profile/reddit.png);
                }
                &.profile-slideshare .col-form-label {
                    background-image: url(/static/images/profile/slideshare.png);
                }
                &.profile-sourceforge .col-form-label {
                    background-image: url(/static/images/profile/sourceforge.png);
                }
                &.profile-speakerdeck .col-form-label {
                    background-image: url(/static/images/profile/speakerdeck.png);
                }
                &.profile-sphere .col-form-label {
                    background-image: url(/static/images/profile/sphere.png);
                }
                &.profile-sphinn .col-form-label {
                    background-image: url(/static/images/profile/sphinn.png);
                }
                &.profile-stackexchange .col-form-label {
                    background-image: url(/static/images/profile/stackexchange.png);
                }
                &.profile-stackoverflow .col-form-label {
                    background-image: url(/static/images/profile/stackoverflow.png);
                }
                &.profile-stackoverflowcareers .col-form-label {
                    background-image: url(/static/images/profile/stackoverflowcareers.png);
                }
                &.profile-steam .col-form-label {
                    background-image: url(/static/images/profile/steam.png);
                }
                &.profile-stumbleupon .col-form-label {
                    background-image: url(/static/images/profile/stumbleupon.png);
                }
                &.profile-substack .col-form-label {
                    background-image: url(/static/images/profile/substack.png);
                }
                &.profile-technorati .col-form-label {
                    background-image: url(/static/images/profile/technorati.png);
                }
                &.profile-tripadvisor .col-form-label {
                    background-image: url(/static/images/profile/tripadvisor.png);
                }
                &.profile-tumblr .col-form-label {
                    background-image: url(/static/images/profile/tumblr.png);
                }
                &.profile-twitter .col-form-label {
                    background-image: url(/static/images/profile/twitter.png);
                }
                &.profile-vimeo .col-form-label {
                    background-image: url(/static/images/profile/vimeo.png);
                }
                &.profile-youtube .col-form-label {
                    background-image: url(/static/images/profile/youtube.png);
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .account-settings {
        form {
            margin-bottom: 20px;
        }
        /* author-pic stuff for account/profile page on mobile */
        .author-pic-container {
            float: none;
        }

        /* We hide the remove text on mobile, to make the button smaller */
        .profiles {
            .remove {
                span {
                    display: none;
                }
            }

            .mb-3 {
                .col-form-label {
                    padding-left: 0;
                }
                &.profile {
                    .col-form-label {
                        padding-left: 20px;
                    }
                }
            }
        }

        .pull-right {
            float: none !important;
        }
    }
}
// .form-horizontal class applied via template, not @extend (can't extend across media queries)

.profile-form {
    textarea[name="extra"] {
        font-family: $font-family-monospace;
    }
}
