.sidebar {
    background: $bg-light-gray;
    align-self: stretch;
}

.nav-list {
    float: left;
    line-height: 1.54em;
    padding: 16px 25px 25px;
    width: $sidebar-width;
    z-index: 2;
    position: sticky;
    top: 60px;

    .nav-header {
        padding: 0;
        margin-top: 20px;
    }

    .nav-header.no-margin-top {
        margin-top: 0;
    }

    a,
    .btn-link {
        color: $gray-base;
        font-size: 14px;
    }

    li + li.nav-header {
        margin-top: 10px;
    }

    .fa {
        margin-right: 2px;
    }

    .sidebar-icon {
        display: inline-block;
        width: 1.25em;
        text-align: center;
        margin-right: 4px;
        color: $text-muted-dark;
    }

    select,
    input[type="text"] {
        line-height: normal;
    }

    form {
        margin: 0;
    }

    form label {
        font-size: 14px;
        font-weight: normal;
        color: $text-muted-dark;
        margin-bottom: 2px;
    }

    &.box-right {
        padding-left: 10px;
    }

    a.active,
    a.active:hover,
    a.active:focus {
        color: $gray-base !important;
        background-color: transparent !important;
        font-weight: bold;
    }

    hr {
        border: 0;
        border-top: 1px solid #d0d0d0;
        margin: 8px 0 0;
    }
}

.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 0.9em;
    font-weight: bold;
    color: $text-muted-dark;
    text-transform: none;
}

.nav-sub-label {
    font-size: 0.8em;
    color: $text-muted-dark;
    margin-top: 6px;
}
