//RESPONSIVE CLASSES
// ------------------

// Hide from screenreaders and browsers
// Credit: HTML5 Boilerplate
.hidden {
    display: none;
    visibility: hidden;
}

@include media-breakpoint-down(md) {
    .navbar {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 1030;
        margin-bottom: 0;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .home {
        padding-top: 0px;
    }

    body .home #metacpan_search-input {
        font-size: 1.4em;
    }

    .slidepanel {
        background-color: $bg-light-gray;
        visibility: hidden;
        position: fixed;
        top: 0px;
        max-width: $sidebar-width;
        width: 100%;
        z-index: 1040;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        .nav-list {
            padding: 20px;
            width: 100%;
        }
    }

    .slidepanel.slidepanel-visible {
        visibility: visible;
    }

    .slidepanel-close {
        display: none;
    }
    .slidepanel-visible {
        .slidepanel-open {
            display: none;
        }
        .slidepanel-close {
            display: block;
        }
    }

    .slidepanel {
        margin-top: 58px;
        padding: 10px;
        border-right: 1px solid #e5e5e5;
        line-height: 25px;
    }

    .slidepanel .search input[type="search"] {
        position: relative;
        left: 5px;
        right: 5px;
        top: 5px;
        width: auto;
    }

    .slidepanel .search {
        height: 15px;
    }

    .slidepanel {
        li {
            line-height: 22px;
        }
    }

    .nav-pills > li > a.active {
        width: 95%;
    }

    main {
        padding: 20px;
    }

    .table:not(.permission-table):not(.keyboard-shortcuts):not(
            .table-leaderboard
        )
        td,
    .table:not(.permission-table):not(.keyboard-shortcuts):not(
            .table-leaderboard
        )
        th {
        display: block;
        margin: 0;
        white-space: normal;
        width: auto !important;
        text-align: left;
    }

    .pull-left-phone {
        float: left !important;
    }

    .releases td.name {
        font-weight: bold;
        background: #f9f9f9;
    }

    .toolbar-search-form {
        height: 42px !important;
    }
}
