<meta name="twitter:card"           content="summary" />
<meta name="twitter:url"            content="<% page_url.as_string %>" />
<meta name="twitter:title"          content="<% author.name %>" />
<meta name="twitter:description"    content="CPAN Author" />
<meta name="twitter:site"           content="metacpan" />
<% FOREACH profile in author.profile -%>
    <%- IF profile.name == "twitter" -%>
        <meta name="twitter:creator" content="<% profile.id %>" />
    <%- END -%>
<%- END %>
<meta name="twitter:image" content="<% author.gravatar_image(400) %>" />
