<% title = author.name _ " (" _ author.pauseid _ ")"; rss = 'author/' _ author.pauseid %>
<div class="search-bar">
  <% INCLUDE inc/author-pic.html author = author float = 'left' %>
  <div style="clear: both; text-align: center"></div>
  <hr>
  <strong>Email</strong><br>
  <a href="mailto:<% author.email.0 %>"><% author.email.0 %></a>
  <% IF author.website.size %><br>
  <strong>Website</strong><br>
  <a href="<% author.website.0 %>" title="<% author.website.0 %>" target="_blank"><% author.website.0.decode_punycode %></a><br><% END %>
<%
IF author.profile.size -%>
<strong>Profiles</strong>
<div class='user-profiles'>
<%-
FOREACH profile IN author.profile.sort('name');
IF profiles.${profile.name} %>
<a href="<% profiles.${profile.name}.url.replace('%s', profile.id) %>" target="_blank">
  <img src="/static/images/profile/<% profile.name %>.png" width=16 height=16 alt="<% profile.name %>" title="<% profile.name %> - <% profile.id%>">
</a>
<% END; END %></div><% END %>
<% IF author.country || author.city || author.region %>
<strong>Location</strong><br>
<% IF author.country %>
<img src="/static/images/flag/<% author.country.lower %>.png" alt="<% author.country %>" width=16 height=11> &nbsp;
<%- END %>
<%- author.city; %><% IF author.city && author.region %>, <% END %><%- author.region %><br>
<% END %>
<% IF author.blog.size %>
<strong>Blog</strong><br>
<% FOREACH blog IN author.blog -%>
<% IF blog.feed %><a href="<% blog.feed %>" target="_blank"><img src="/static/images/profile/feed.png" width=16 height=16 style="float: right"></a><% END %>
<a href="<% blog.url %>" title="<% blog.url %>" target="_blank" class="ellipsis" style="width: 140px"><% blog.url.replace('^https?://', '') %></a>
<% END; END %>
<% IF author.donation.size; FOREACH donate IN author.donation; IF donate.name == 'paypal' %>
<br>
<center><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="<% donate.id %>">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="Donation to CPAN Author <% author.pauseid %> via MetaCPAN">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></center>
<% END; END; END %>
<%
i = 0;
counter = 1;
aggregated = [];
latest = releases[0];
FOREACH release IN releases;
IF release.date.dt_canonical > latest.date.dt_canonical; latest = release; END;
IF last == release.distribution; counter = counter + 1; NEXT;
ELSE; last = release.distribution; counter = 1; END;
UNLESS release.name; NEXT; END;
aggregated.push(release);
END %>
  <hr>
  <% INCLUDE inc/activity.html query = 'author=' _ author.pauseid %>
  <% INCLUDE inc/release-latest.html %>
  <hr>
  <strong>Tools</strong>
  <ul>
    <li>Search distributions:<br>
      <form action="/search">
      <input type="hidden" name="q" value="author:<% author.pauseid %>">
      <input type="text" name="q">
      <input type="submit" style="display: none"></form></li>
  </ul>
  
</div>

<div class="content">
<% INCLUDE inc/release-table.html releases = aggregated,  header = 1 %>
</div>
