<%- title = "Browse " _ [author, release, undef].join('/') _ directory.join("/") %>
<div class="breadcrumbs">
  <a href="/source/<% base = [author, release].join("/"); base %>"><% [author, release].join(" / ") %></a>
  <% FOREACH part IN directory; base = base _ "/" _ part -%>
  / <% UNLESS loop.last %><a href="/source/<% base %>"><% part %></a><% ELSE %><% part %><% END %>
  <% END %>
</div>

<ul class="nav-list slidepanel">
  <li class="visible-xs">
    <% INCLUDE mobile/toolbar-search-form.html %>
  </li>
  <li class="nav-header">Tools</li>
  <li><a data-keyboard-shortcut="g d" href="/release/<% author %>/<% release %>"><i class="fa fa-fw fa-info-circle black"></i>Release Info</a></li>
  <li><a data-keyboard-shortcut="g a" href="/author/<% author %>"><i class="fa fa-user fa-fw black"></i>Author</a></li>
  <li><a href="<% source_host %>/source/<% base %>"><i class="fa fa-file-text-o fa-fw black"></i>Raw browser</a></li>
  <li class="nav-header">Info</li>
  <li><% count = files.grep(->{this.directory == 1 }).size; count %> folder<% count != 1 ? "s" : "" %></li>
  <li><% count = files.grep(->{this.directory == 0 }).size; count %> file<% count != 1 ? "s" : "" %></li>
</ul>

<div class="content">
<table id="metacpan-file-browse" class="table table-condensed table-striped file-table tablesorter">
<thead>
    <tr>
    <th class="name">Name</th>
    <th class="documentation">Documentation</th>
    <th class="size">Size</th>
    <th class="mtime">Last Modified</th>
    </tr>
</thead>
<tbody>
<% i = 0; FOREACH file IN files %>
<tr>
  <td class="name" sort="<% file.directory == 1 ? "!" _ file.name : file.name %>"><strong><a href="/source/<% [author, release, file.path].join("/") %>" class="<%
    file.directory == 1 ? 'silk-folder'
  : file.mime.match("perl") ? 'silk-page-white-code'
  : file.mime.match("x-c") ? 'silk-page-white-c'
  : 'silk-page-white'
  -%>" title="<% file.path %>"><% file.name %></a></strong></td>
  <td class="documentation"><strong><a href="/pod/release/<% [author, release, file.path].join("/") %>" title="<% file.path %>" class="ellipsis"><% file.slop ? file.documentation ? file.documentation : file.name : "" %></a></strong></td>
  <td class="size" sort="<% file.directory == 0 ? file.${"stat.size"} : 0 %>"><% file.directory == 0 ? file.${"stat.size"} | format_bytes : "" %></td>
  <td class="mtime relatize" nowrap="nowrap" sort="<% date = file.${"stat.mtime"}.dt_http; date %>"><% date %></td>
</tr>
<% END %>
</tbody>
</table>
</div>
