<div class="breadcrumbs">
  Diff <a href="/<% type %>/<% diff.source.path %>"><% diff.source.author %> / <% diff.source.release %></a>
  &nbsp;/&nbsp;
  <a href="/<% type %>/<% diff.target.path %>"><% diff.target.author %> / <% diff.target.release %></a>
</div>

<%-
insertions = 0;
deletions = 0;
files = 0;
FOREACH file IN diff.statistics;
files += 1;
insertions += file.insertions;
deletions += file.deletions;
END -%>

  <ul class="nav-list slidepanel">
    <li class="visible-xs">
      <% INCLUDE mobile/toolbar-search-form.html %>
    </li>
  <li class="nav-header">Tools</li>
    <%- IF diff.source.file %>
      <li>
        <a href="?source=<% diff.source.author %>/<% diff.source.release %>&amp;target=<% diff.target.author %>/<% diff.target.release %>">
          Diff full distribution
        </a>
      </li>
    <% END %>
    <li>
      <a href="?source=<% diff.target.path %>&amp;target=<% diff.source.path %>">
        Reverse diff
      </a>
    </li>
    <li>
      <a href="<% api_public %>/diff/<% diff.source.file ? 'file' : 'release' %>/<% diff.source.id %>/<% diff.target.id %>?content-type=text/plain">
        Raw diff
      </a>
    </li>
    <%- IF diff.statistics.size > 1 -%>
    <li>
      <select onchange="document.location.href='#' + this.value; this.selectedIndex = 0">
        <option>Jump to file</option>
        <% FOREACH file IN diff.statistics -%>
        <option value="<% file.file %>"><% file.file %></option>
        <% END -%>
      </select>
    </li>
    <%- END -%>
    <li class="nav-header">Info</li>
    <li><% insertions %> insertion<% IF insertions > 1 %>s<% END %></li>
    <li><% deletions %> deletion<% IF deletions > 1 %>s<% END %></li>
    <li><div><a href="#">Top</a></div></li>
  </ul>

<div class="content">
<table class="table-striped diff-list">
<% FOREACH file IN diff.statistics %>
<tr>
  <td><a href="#<% file.file %>"><% file.file %></a></td>
  <td><a href="#<% file.file %>" class="minus"><% file.deletions %></a><a href="#<% file.file %>" class="plus"><% file.insertions %></a></td>
</tr>
<% END %>
<tr>
  <td><% files %> file<% IF files > 1 %>s<% END %> changed  <% IF diff.source.file %> (This is a file diff) <% ELSE %> (This is a version diff) <% END %></td>
  <td><span class="minus"><% deletions %></span><span class="plus"><% insertions %></span></td>
</tr>
</table>

<% FOREACH file IN diff.statistics %>
    <a name="<% file.file %>"></a>
    <div class="diff-container">
        <div class="diff-header">
            <a href="/source/<% diff.target.path %>/<% file.file %>"><% file.file %></a>
        </div>
        <pre><code class="language-diff"><% file.diff %></code></pre>
    </div>
<% END %>
</div>
