<div align="center" class="home" style="padding-top: 30px">
    <a href="/"><img src="/static/images/logo.png" width="275" height="54" alt="MetaCPAN Logo" style="padding: 40px"></a>
  <form action="/search">
  <div class="ds"><input type="text" name="q" size="41" autofocus="autofocus" id="search-input" class="autofocus"></div><br><br>
  <div class="ds"><button type="submit" class="g-button">Search the CPAN</button></div>
  <div class="ds"><button type="submit" class="g-button" name="lucky" value="1">I'm Feeling Lucky</button></div>
</form>
<br><br><br>
<% hints = ['Press shift and enter if you are feeling lucky'] %>
<span style="color: #999">Hint: <% hints.pick %></span>
<br><br>
</div>
