<%- rss = "recent" %>
<div class="metahack-platinum">
  Thanks,
  <a href="http://www.booking.com/"><img src="/static/images/sponsors/booking.png" class="booking"></a>
  &amp; <a href="http://cpanel.com/"><img src="/static/images/sponsors/cpanel.png" class="cpanel"></a>,
  for sponsoring <a href="/about/meta_hack">meta::hack</a>!
</div>

<div align="center" class="home">
  <a href="/" class="big-logo" alt="meta::cpan"></a>
  <form action="/search">
    <input type="hidden" name="size" id="search-size" value="20">
    <div class="form-group">
        <input type="text" name="q" size="41" autofocus="autofocus" id="search-input" class="form-control home-search-input">
    </div>
    <div class="form-group search-type">
        <label class="radio-inline">
            <input type="radio" name="search_type" value="modules" checked>
            Modules
        </label>
        <label class="radio-inline">
            <input type="radio" name="search_type" value="authors">
            Authors
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn search-btn">Search the CPAN</button>
        <button type="submit" class="btn search-btn" name="lucky" value="1">I'm Feeling Lucky</button>
    </div>
  </form>
  <div class="hidden-phone home-hint">
    <%- hints = ['Press shift and enter if you are feeling lucky'] %>
    Hint: <% hints.pick %>
  </div>
  <div class="alert alert-info">
    <strong>New to CPAN?</strong> Maybe take a look at <a href="/pod/Task::Kensho">Task::Kensho!</a>
  </div>

  <div class="news-highlight row">
    <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
      <p>
        MetaCPAN’s API was successfully upgraded during
        <a href="/about/meta_hack">a recent <nobr>four-day</nobr> workshop</a>
        made possible by our generous sponsors, including:
      </p>
      <div class="row sponsor-grid">
        <div class="col-sm-4">
          <a href="http://www.booking.com/"><img src="/static/images/sponsors/booking.png"></a>
          <a href="https://www.fastmail.com/"><img src="/static/images/sponsors/fastmail.png" style="background-color: #44557e; border-radius: 4px; padding-left: 6px;"></a>
          <a href="https://advancesystemsinc.com/"><img src="/static/images/sponsors/advance-systems.jpg"></a>
        </div>
        <div class="col-sm-4">
          <a href="http://cpanel.com/"><img src="/static/images/sponsors/cpanel.png"></a>
          <a href="http://perl.careers/"><img src="/static/images/sponsors/perl-careers.png" alt="Find Perl Jobs and Perl Developers with Perl Careers"></a>
          <a href="http://www.activestate.com/">ActiveState</a>
        </div>
        <div class="col-sm-4">
          <a href="https://www.elastic.co/"><img src="/static/images/sponsors/elastic.svg"></a>
          <a href="https://www.servercentral.com/"><img src="/static/images/sponsors/servercentral.png"></a>
          <a href="http://www.perl-services.de/">Perl Services</a>
        </div>
      </div>
      <p>
        Learn more about the workshop, dubbed <a href="/about/meta_hack">meta::hack</a>.
      </p>
    </div>
  </div>
</div>
