<%- rss = 'recent' %>
<div align="center" class="home">
    <div class="big-logo">
        <a href="/"><img src="/static/images/t.gif" width="180" height="34" alt="MetaCPAN Logo" /></a>
    </div>
    <form action="/search">
        <input type="text" name="q" size="41" autofocus="autofocus" id="search-input" class="autofocus"><br><br>
        <div class="ds"><button type="submit" class="btn">Search the CPAN</button></div>
        <div class="ds"><div class="hidden-phone"><button type="submit" class="btn" name="lucky" value="1">I'm Feeling Lucky</button></div></div>
</form>
<br><br><br>
<% hints = ['Press shift and enter if you are feeling lucky'] %>
<span style="color: #999" class="hidden-phone">Hint: <% hints.pick %></span>
<br><br>
</div>
