<% title = module.documentation _ (module.abstract ? ' - ' _ module.abstract : ''); rss = 'distribution/' _ module.distribution %>
<strong><big>
  <a rel="author" href="/author/<% module.author %>" title="<% author.asciiname %>"><% author.name %></a>
  &nbsp;/&nbsp;
  <a href="/release/<% IF release.status == 'latest'; release.distribution; ELSE; [module.author, module.release].join('/'); END %>"><% module.release %></a>
  &nbsp;/&nbsp;
  <span class="select-text"><% module.documentation %></span>
  </big></strong>
  <% INCLUDE inc/favorite.html module = module %>
  <% IF release.status != 'latest' %><div style="float: right"><strong><big><% IF release.maturity == 'developer'; 'dev release, '; END %></big><a href="/module/<% module.documentation %>"><big>go to latest</big></a></strong></div><% END %><br><br>

<div class="search-bar">
  <strong></strong>
  <div>
    <ul>
      <li><strong class="relatize"><% module.date.dt_http %></strong></li>
      <% IF module.module.0.version %><li>Module version: <% module.module.0.version %></li><% END %>
      <li><a href="<% release.download_url.replace('cpan\.cpantesters\.org', 'cpan.metacpan.org') %>">Download</a> (<% release.stat.size | format_bytes %>)</li>
      <li>
        <a id="source-link" href="/source/<% module.author %>/<% module.release %>/<% module.path %>">Source</a>
        (<a href="<% api %>/source/<% module.author %>/<% module.release %>/<% module.path %>">raw</a>)
      </li>
      <li><a href="/source/<% module.author %>/<% module.release %>/<% module.path.split("/").splice(0,-1).join("/") %>">Browse</a>
        (<a href="<% api %>/source/<% module.author %>/<% module.release/<% module.path.split("/").splice(0,-1).join("/") %>/">raw</a>)
        g</li>
      <% PROCESS inc/release-info.html %>
    </ul>
  </div>
  <hr>
  <strong>Tools</strong>
  <ul>
      <% IF versions.size > 1 %>
      <li>
        <select name="release" onchange="document.location.href='/diff/file/?target=<% [module.author, module.release, module.path].join("/") %>&amp;source=' + this.value">
        <option>Diff with version</option>
        <% PROCESS version_options %>
      </select></li>
      <% END %>
    <li>Search distribution:<br>
      <form action="/search">
      <input type="hidden" name="q" value="dist:<% release.distribution %>">
      <input type="text" name="q">
      <input type="submit" style="display: none"></form></li>
    <li><a href="#" onclick="return toggleTOC()">Toggle Table of Contents</a></li>
    <li><a href="/requires/distribution/<% module.distribution %>?sort=[[2,1]]">Reverse dependencies</a></li>
    <li><a href="http://explorer.metacpan.org/?url=/module/<% module.author %>/<% module.release %>/<% module.path %>">MetaCPAN Explorer</a></li>
  </ul>
  <hr>
  <% INCLUDE inc/activity.html query = 'distribution=' _ release.distribution %>
  <hr>
  <strong>Permalinks</strong>
  <ul>
    <li><a href="/module/<% module.author %>/<% module.release %>/<% module.path %>">This version</a></li>
    <% IF module.documentation %>
    <li><a href="/module/<% module.documentation %>">Latest version</a></li>
    <% END %>
  </ul>
</div>

<% INCLUDE inc/author-pic.html author = author %>
<% INCLUDE inc/dependencies.html dependencies = release.dependency %>
<% IF req.cookies.hideTOC.value %><style>#index { display:none}</style><% END %>
<a name="___pod"></a>
<div class="pod">
<% IF pod %>
<% pod.replace(/<pre><code>/, '<pre class="brush: pl; class-name: \'highlight\'; toolbar: false; gutter: false">').replace(/<\/code><\/pre>/, '</pre>').replace('http://metacpan.org', '') | none %>
<% ELSE %>
No pod could be found for <% module.name %>
<% END %>
</div>
