<%- title = "Error 404 - Page not found" %>
<div id="not-found">
    <% INCLUDE left_sidebar.html %>
    <h1>Not Found</h1>

    <p>
    <% IF message %>
        <% message %>
    <% ELSE %>
        The resource you requested could not be found.
    <% END %>
    </p>

    <% IF suggest %>
        <p class="suggestion">
            <% suggest.description %>:
            <a href="<% suggest.url %>"><% suggest.link_text %></a>
        </p>
    <% END %>

    <%
        IF search and search.size;
            q = search.join(" ");
    %>
        <p>
            Search the CPAN for <a href="/search?q=<% q | url %>"><% q %></a>
        </p>
    <% END %>
    </p>
</div>
