<title>Plussers - <% plussers.distribution %></title>
<% title ='Plussers - ' _ plussers.distribution %>


<ul class="visible-xs nav-list slidepanel">
    <li class="search">
        <% INCLUDE mobile/toolbar-search-form.html %>
    </li>
    <li class="nav-header"></li>
</ul>

<div class="pull-right hidden-xs">
</div>
<div class="plusser-title">
<h4> PAUSE users who ++ed <a href="/release/<% plussers.distribution %>"><% plussers.distribution %></a></h4>
<!-- For plussers -->
<div class ="plussers_disp">
<% FOREACH plusser IN plussers.authors %>

<div class="plusser">
    <a href="/author/<% plusser.pauseid %>">
        <img src="<% plusser.gravatar_image(75) %>" title="<% plusser.pauseid %>" alt="" width="75" height="75">
        <% plusser.id %>
    </a>
</div>

<% END %>
</div>
</div>

