<% twitter_card_inc = 'inc/twitter/module.html' %>
<%# FIXME: Check if this is PAUSE indexed, otherwise use /pod/distribution/ url? %>
<% canonical = "/pod/" _ module.documentation %>
<% meta_description = module.abstract %>
<% title = module.documentation _ (module.abstract ? ' - ' _ module.abstract : ''); rss = 'distribution/' _ module.distribution %>
<% INCLUDE inc/breadcrumbs.html %>

<ul class="nav nav-list" itemscope itemtype="http://schema.org/SoftwareApplication">
  <li class="nav-header"><span class="relatize"><% module.date.dt_http %></span></li>
  <%- IF versions.size > 1; %>
  <li><span class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Jump to version <b class="caret pull-right"></b>
          </a>
        <ul class="dropdown-menu">
  <%-
  backpan = [];
  FOREACH version IN versions;
      IF release.name == version.name;
          NEXT;
      END;
      IF version.status == 'backpan';
          backpan.push(version);
          NEXT;
      END %>
            <li><a href="<% version.author; '/'; version.name; '/'; module.path %>"><% version.version _ (version.maturity == 'developer' ? ' DEV' : '') %> (<% version.date.dt_date_common %>)</a></li>
      <%-
      END;
      IF backpan.size > 1 %>
          <li class="nav-header">BackPAN</li>
      <%-
          FOREACH version IN backpan %>
          <li><a href="<% version.author; '/'; version.name; '/'; module.path %>"><% version.version _ (version.maturity == 'developer' ? ' DEV' : '') %> (<% version.date.dt_date_common %>)</a></li>
      <%
          END;
      END;
  END %>
        </ul>
      </span></li>
      <li><div>
        <a href="/source/<% module.author %>/<% module.release %>/<% module.path %>">Source</a>
        (<a href="<% api %>/source/<% module.author %>/<% module.release %>/<% module.path %>">raw</a>)</div>
      </li>
      <li><div><a href="/source/<% module.author %>/<% module.release %>/<% module.path.split("/").splice(0,-1).join("/") %>">Browse</a> (<a href="<% api %>/source/<% module.author %>/<% module.release %>/">raw</a>)</div></li>
      <% PROCESS inc/release-info.html %>
      <li class="divider"></li>
      <li class="nav-header">Activity</li>
      <% INCLUDE inc/activity.html query = 'distribution=' _ release.distribution %>
      <li class="divider"></li>
      <li class="nav-header">Tools</li>
      <% IF versions.size > 1 %>
      <li>
        <select name="release" onchange="document.location.href='/diff/file/?target=<% [module.author, module.release, module.path].join("/") %>&amp;source=' + this.value">
        <option>Diff with version</option>
        <% PROCESS version_options %>
      </select></li>
      <% END %>
      <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                More
                <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">
                <li><a href="<% release.download_url.replace('cpan\.cpantesters\.org', 'cpan.metacpan.org') %>"><i class="icon-download-alt"></i> Download (<% release.stat.size | format_bytes %>b)</a></li>
                <li><a href="#" onclick="return toggleTOC()"><i class="icon-list"></i> Toggle Table of Contents</a></li>
                <li><a href="/requires/module/<% module.distribution.replace('-', '::') %>?sort=[[2,1]]"><i class="icon-share-alt"></i> Reverse dependencies</a></li>
                <li><a href="http://explorer.metacpan.org/?url=/module/<% module.author %>/<% module.release %>/<% module.path %>"><i class="icon-list-alt"></i> MetaCPAN Explorer</a></li>
                <li><a href="<% 'http://cpanratings.perl.org/rate/?distribution=' _ release.distribution %>"><i class="icon-star"></i> Rate this distribution</a></li>
                <li>
                    <form action="/search">
                        <input type="hidden" name="q" value="dist:<% release.distribution %>">
                        <input type="search" name="q" placeholder="Search distribution">
                        <input type="submit" style="display: none">
                    </form>
                </li>
                <li class="divider"></li>
                <li class="nav-header" style="margin-left: 0px">Permalinks</li>
                <li><a href="/module/<% module.author %>/<% module.release %>/<% module.path %>">This version</a></li>
                <%- IF module.documentation %>
                <li><a href="/module/<% module.documentation %>" itemprop="url">Latest version</a></li>
                <%- END %>
            </ul>
          </li>
  </ul>

<% INCLUDE inc/author-pic.html author = author %>
<% INCLUDE inc/dependencies.html dependencies = release.dependency %>
<% IF req.cookies.hideTOC.value %><style>#index { display:none}</style><% END %>
<a name="___pod"></a>
<div class="pod">
<% IF pod %>
<%  # Add 'metacpan-verbatim' to class (SyntaxHighlighter will ignore) so we can apply CSS for users without javascript.
    pod.replace(/<pre><code>/, '<pre class="brush: pl; class-name: \'highlight\'; toolbar: false; gutter: false; metacpan-verbatim">').replace(/<\/code><\/pre>/, '</pre>') | none %>
<% ELSIF pod_error %>
<p class="pod-error">Error rendering POD for <code><% module.name %></code> - <% pod_error %></p>
<% ELSE %>
No pod could be found for <% module.name %>
<% END %>
</div>
</div>
