<%-

  MACRO link_to_file(file, linktext) BLOCK;
    title = file.documentation || file.path;
    # If there is pod for this file...
    IF file.documentation || file.pod_lines.size || file.module.grep(->(module){ module.associated_pod }).size;
      IF !permalinks;
        # If it's a PAUSE-indexed module (02packages)...
        IF file.documentation
        && file.authorized
        && file.indexed
        && file.module.grep(->(module){ module.authorized && module.indexed }).size;
          # Use /pod/$name.
          path = file.documentation;
        ELSE;
          # Use distribution (version-independent) url.
            path = ['distribution', file.distribution, file.path].join('/');
        END;
      # Else use versioned url.
      ELSE;
        path = ['release', file.author, file.release, file.path].join("/");
      END;
      %><a href="/pod/<% path %>"><%- linktext || title %></a><%
    # Else show source.
    ELSE;
      link_to_source(file, linktext) | none;
    END;
  END;

  MACRO link_to_source(file, linktext) BLOCK;
    # NOTE: The 'name' attribute is fabricated in the release template.
    path = ['source', file.author, file.release, file.path].join('/');
    IF file.module_name;
      path = path _  '#P' _ file.module_name;
    END
    %><a href="/<% path %>"><% linktext || file.module_name || file.path %></a><%
  END;

 -%>
