<%

USE Number.Format;
page = req.page;

user = c.user;
user_exists = c.user_exists

profiles = {
  bitbucket = { name = 'Bitbucket', url = 'https://bitbucket.org/%s'},
  coderwall = { name = 'Coderwall', url = 'https://coderwall.com/%s'},
  couchsurfing = { name = 'Couch Surfing', url = 'https://www.couchsurfing.org/people/%s/'},
  delicious = { name = 'Delicious', url = 'https://del.icio.us/%s' },
  digg = { name = 'Digg', url = 'https://digg.com/%s' },
  dotshare = { name = 'Dotshare', url = 'http://dotshare.it/~%s/' },
  facebook = { name = 'Facebook', url = 'https://www.facebook.com/%s' },
  flickr = { name = 'Flickr', url = 'https://www.flickr.com/people/%s/' },
  github = { name = 'GitHub', url = 'https://github.com/%s' },
  gitlab = { name = 'GitLab', url = 'https://gitlab.com/%s' },
  'github-meets-cpan' = { name = 'GitHub Meets CPAN', url = 'https://gh.metacpan.org/user/%s' },
  googleplus = { name = 'Google+', url = 'https://plus.google.com/%s' },
  hackernews = { name = 'Hacker News', url = 'https://news.ycombinator.com/user?id=%s' },
  hackerrank = { name = 'HackerRank', url = 'https://www.hackerrank.com/%s' },
  identica = { name = 'Identi.ca', url = 'https://identi.ca/%s' },
  klout = { name = 'Klout', url = 'https://klout.com/%s' },
  lanyrd = { name = 'Lanyrd', url = 'http://lanyrd.com/profile/%s' },
  lastfm = { name = 'LastFM', url = 'https://www.last.fm/user/%s' },
  linkedin = { name = 'LinkedIn', url = 'https://www.linkedin.com/in/%s' },
  meetup = { name = 'Meetup', url = 'https://www.meetup.com/members/%s' },
  myspace = { name = 'MySpace', url = 'https://www.myspace.com/%s' },
  newsblur  = { name = 'Newsblur', url = 'https://%s.newsblur.com/' },
  ohloh = { name = 'Open Hub', url = 'https://www.openhub.net/accounts/%s' },
  perlmonks = { name = 'PerlMonks', url = 'http://www.perlmonks.org/?node=%s' },
  pinboard = { name = 'Pinboard', url = 'https://pinboard.in/u:%s' },
  prepan = { name = 'PrePAN', url = 'http://prepan.org/user/%s' },
  reddit = { name = 'Reddit', url = 'https://www.reddit.com/user/%s' },
  slideshare = { name = 'SlideShare', url = 'https://www.slideshare.net/%s' },
  sourceforge = { name = 'SourceForge', url = 'https://sourceforge.net/users/%s' },
  speakerdeck = { name = 'SpeakerDeck', url = 'https://speakerdeck.com/u/%s' },
  stackexchange = { name = 'StackExchange', url = 'https://stackexchange.com/users/%s?tab=accounts' },
  stackoverflow = { name = 'StackOverflow', url = 'https://stackoverflow.com/users/%s/' },
  stackoverflowcareers = { name = 'Stack Overflow Careers', url = 'https://careers.stackoverflow.com/%s' },
  steam = { name = 'Steam', url = 'https://steamcommunity.com/id/%s' },
  stumbleupon = { name = 'StumbleUpon', url = 'https://www.stumbleupon.com/stumbler/%s/' },
  tumblr = { name = 'Tumblr', url = 'http://%s.tumblr.com/' },
  twitter = { name = 'Twitter', url = 'https://twitter.com/%s' },
  vimeo = { name = 'Vimeo', url = 'https://vimeo.com/%s' },
  youtube = { name = 'Youtube', url = 'https://www.youtube.com/user/%s' },
  };

  utf8_form_input = '<input type="hidden" name="utf8" value="🐪" />';
-%>
<%-

  MACRO link_to_file(file, linktext) BLOCK;
    title = file.documentation || file.path;
    # If there is pod for this file...
    IF file.documentation || file.pod_lines.size || file.module.grep(->(module){ module.associated_pod }).size;
      IF !permalinks;
        # If it's a PAUSE-indexed module (02packages)...
        IF file.documentation
        && file.authorized
        && file.indexed
        && file.module.grep(->(module){ module.authorized && module.indexed }).size;
          # Use /pod/$name.
          path = file.documentation;
        ELSE;
          # Use distribution (version-independent) url.
            path = ['distribution', file.distribution, file.path].join('/');
        END;
      # Else use versioned url.
      ELSE;
        path = ['release', file.author, file.release, file.path].join("/");
      END;
      %><a href="/pod/<% path %>"><%- linktext || title %></a><%
    # Else show source.
    ELSE;
      link_to_source(file, linktext) | none;
    END;
  END;

  MACRO link_to_source(file, linktext) BLOCK;
    # NOTE: The 'name' attribute is fabricated in the release template.
    path = ['source', file.author, file.release, file.path].join('/');
    IF file.module_name;
      path = path _  '#P' _ file.module_name;
    END
    %><a href="/<% path %>"><% linktext || file.module_name || file.path %></a><%
  END;

  # protocols = {
  #   "bzr" = 10,
  #   "https" = 11742,
  #   "http" = 30367,
  #   "git+ssh:":1,
  #   "svn:":16,
  #   "git:":14934,
  #   "cvs:":4,
  #   "svn+ssh:":1,
  #   "ssh:":12
  # };
  MACRO is_url(url) BLOCK;
    url && url.match("^(bzr|https?|git+ssh|svn|ssh|svn+ssh|mailto|git|irc):") ? 1 : 0;
  END;
 -%>
