<%
  rss = 'recent?f=' _ filter;
  rss_title = 'Recent CPAN Uploads - MetaCPAN';
  title = "Recent";
  INCLUDE inc/recent-bar.html;
%>

<div class="content">
  <div id="feed_subscription" class="page-header">
    <p>Recent Uploads</p>
      <a href="/feed/recent"><i class="fa fa-rss fa-2x black"></i></a>
  </div>
<%-
releases = [];
FOREACH release IN recent;
  date = datetime(release.date);
  day = date.strftime("%A, %e %B %Y");
  IF day != last;
    IF releases.size;
      INCLUDE inc/release-table.html releases = releases day = last;
    END;
    releases = [];
    last = day;
  END;
  releases.push(release);
END %>
<% INCLUDE inc/release-table.html releases = releases %>
<% INCLUDE inc/pager.html size = page_size %>
</div>
