<%
  rss = 'recent?f=' _ c.req.params.f || 'l';
  title = "Recent";
  INCLUDE inc/recent-bar.html;
%>

<div class="content">
  <div id="feed_subscription" class="page-header">
    <p>Recent Uploads</p>
    <i class="fa fa-rss fa-2x">
      <a href="/feed/recent"></a>
    </i>
  </div>
<%-
MoY = [undef, 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
DoW = [undef, "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
releases = [];
FOREACH release IN recent;
  date = release.date.dt;
  USE dt = DateTime( year = date.year, month = date.month, day = date.day );
  day = "%s, %d %s %s".sprintf(DoW.item(dt.day_of_week), date.day, MoY.item(date.month), date.year);
  IF day != last;
    IF releases.size;
      INCLUDE inc/release-table.html releases = releases day = last;
    END;
    releases = [];
    last = day;
  END;
  releases.push(release);
END %>
<% INCLUDE inc/release-table.html releases = releases %>
<% INCLUDE inc/pager.html size = 100 %>
</div>
