<%- rss = 'recent?f=' _ c.req.params.f || 'l' %>
<ul class="nav nav-list phone-hidden">
    <li class="nav-header">Activity</li>
    <li><% INCLUDE inc/activity.html query = 'f=' _ c.req.params.f || 'l' %></li>
    <li><a href="/favorite/recent">Recent ++</a></li>
    <li class="divider"></li>
    <li class="nav-header">Filter</li>
    <form action="<% c.uri_for('/recent') %>" method="get" onchange="this.form.submit()">
          <%- filter = { l = 'Latest releases', n = 'New distributions', a = 'Including BackPAN' }; c.req.params.f ||= 'l';
          FOR item IN ['l', 'n']; %>
      <li><label class="radio"><input type="radio" name="f" value="<% item %>"<% IF c.req.params.f == item; ' checked'; END %> onchange="this.form.submit()"> <% filter.${item} %></label></li>
      <% END %>
      <input type="submit" class="hidden">
  </form>
</ul>

<div class="content">
<%-
MoY = [undef, 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
releases = [];
FOREACH release IN recent;
date = release.date.dt;
day = "%d %s, %s".sprintf(date.day, MoY.item(date.month), date.year);
IF day != last;
INCLUDE inc/release-table.html releases = releases;
releases = [];
IF !loop.first %><br><% END %><big><strong class="recent-date"><% day; last = day %></strong></big>
<%
END;
releases.push(release);
-%>
<% END %>
<% INCLUDE inc/release-table.html releases = releases %>
<% INCLUDE inc/pager.html size = 100 %>
</div>
