<% title = release.name _ ' - ' _ release.abstract; rss = 'distribution/' _ release.distribution %>
<% canonical = '/release/' _ release.distribution %>
<% meta_description = release.abstract %>
<% twitter_card_inc = 'inc/twitter/release.html' %>

<% INCLUDE inc/breadcrumbs.html %>

<ul class="nav-list slidepanel">
    <li class="visible-xs">
    <% INCLUDE mobile/toolbar-search-form.html %>
    </li>
    <li class="nav-header"><span class="relatize"><% release.date.dt_http %></span></li>
    <li><a href="/source/<% release.author %>/<% release.name %>"><i class="fa fa-fw fa-folder-open black"></i>Browse</a> (<a href="<% source_host %>/source/<% release.author %>/<% release.name %>/">raw</a>)</li>
    <% PROCESS inc/release-info.html %>
    <li class="nav-header">Activity</li>
    <li><% INCLUDE inc/activity.html query = 'distribution=' _ release.distribution %></li>
    <% IF release.metadata.x_help_wanted %>
    <li>Help Wanted<ul>
    <% FOREACH position IN release.metadata.x_help_wanted %>
      <li><% position %></li>
    <% END %>
    </ul></li>
    <% END %>
    <%- INCLUDE inc/release-tools.html %>
</ul>

<button id="right-panel-toggle" class="btn-link" onclick="togglePanel('right'); return false;"><span class="panel-hidden">Show</span><span class="panel-visible">Hide</span> Right Panel</button>
<div id="right-panel" class="pull-right">
<div class="box-right hidden-phone">
<% INCLUDE inc/author-pic.html author = author %>
<% INCLUDE inc/contributors.html contributors = contributors %>
</div>
<% INCLUDE inc/dependencies.html release = release %>
</div>

<div class="content">

<% MACRO change_group(group) BLOCK; %>
<ul>
    <%- FOREACH entry IN group; %>
    <li class="<% IF entry.entries.size %>group-header<% END %>"><span class="change-entry"><% entry.html | none %></span>
        <% IF entry.entries.size;
          change_group(entry.entries) | none;
        END %>
    </li>
    <%- END %>
</ul>
<% END %>

<%- IF changes && changes.size %>

<div id="last-changes" class="well collapsed">
    <div id="last-changes-container">
        <%- FOREACH rel IN changes %>
        <h2 id="whatsnew">Changes for version <% rel.version %><% IF rel.date %> - <% rel.date.dt_date_common %><% END; IF rel.trial %> ( TRIAL RELEASE )<% END %></h2>
        <div class="change-entries">
            <% change_group(rel.entries) | none %>
        </div>
        <%- END %>
    </div>
    <button id="last-changes-toggle" class="btn-link" onclick="$('#last-changes').toggleClass('collapsed'); return false;">[ <span class="hide-more">Show less</span><span class="show-more">Show more</span> ]</button>
</div>

<%- END %>

<%- IF documentation.size %>
<div class="file-group release-documentation">
  <h2 id="docs">Documentation</h2>
  <ul>
  <%- FOREACH module IN documentation %>
  <li>
    <% link_to_file(module) | none %><% IF module.abstract %> - <% module.abstract; END %>
  </li>
  <%- END %>
  </ul>
</div>
<%- END %>

<%- IF modules.size %>
<div class="file-group release-modules">
  <h2 id="modules">Modules</h2>
  <ul>
  <%- FOREACH module IN modules %>
  <li>
    <% link_to_file(module) | none %><% IF module.abstract %> - <% module.abstract; END %>
    <% IF module.indexed AND NOT module.authorized %><em class="unauthorized">UNAUTHORIZED</em><% END %>
  </li>
  <%- END %>
  </ul>
</div>
<%- END %>

<% IF provides.size %>
<div class="file-group release-provides">
  <h2 id="provides">Provides</h2>
  <ul>
  <%- FOREACH module IN provides %>
  <li>
    <% link_to_source(module) | none %> in <% module.path %>
    <% IF module.indexed AND NOT module.authorized %><em class="unauthorized">UNAUTHORIZED</em><% END %>
  </li>
  <%- END %>
  </ul>
</div>
<%- END %>

<%- IF examples.size %>
<div class="file-group release-examples">
  <h2 id="examples">Examples</h2>
  <ul>
  <%- FOREACH file IN examples %>
  <li>
    <%- IF file.path.match('\.pod$') %>
      <% link_to_file(file, file.path) | none %>
    <%- ELSE %>
      <% link_to_source(file) | none %>
      <%- IF file.pod_lines %>
        [<% link_to_file(file, "pod") | none %>]
      <%- END %>
    <%- END %>
  </li>
  <%- END %>
  </ul>
</div>
<%- END %>

<%- IF other.size %>
<div class="file-group release-other-files">
  <h2 id="other">Other files</h2>
  <ul>
    <%- FOREACH file IN other %>
    <li><% link_to_file(file, file.path) | none %></li>
    <%- END %>
  </ul>
</div>
<%- END %>

    <% INCLUDE inc/module-install.html %>
</div>
