<% title = release.name _ ' - ' _ release.abstract; rss = 'distribution/' _ release.distribution %>
<% INCLUDE inc/breadcrumbs.html %>

<ul class="nav nav-list">
    <li class="nav-header"><span class="relatize"><% release.date.dt_http %></span></li>
    <%- IF changes %>
    <li><a href="/<% changes.documentation ? "module" : "source" %>/<% release.author; '/'; release.name; '/'; changes.name %>">Changes</a></li>
    <%- END %>
    <li><span><a href="/source/<% release.author %>/<% release.name %>/">Browse</a> (<a href="<% api %>/source/<% release.author %>/<% release.name %>/">raw</a>)</span></li>
    <% PROCESS inc/release-info.html %>
    <li class="nav-header">Activity</li>
    <% INCLUDE inc/activity.html query = 'distribution=' _ release.distribution %>
    <%- INCLUDE inc/release-tools.html %>
</ul>

<div id="authors"
    style="text-align: center; float: <% IF float == 'left' %>left; padding-left: 20px<% ELSE %>right; width: 160px; padding-left: 80px<% END %>">
<% INCLUDE inc/author-pic.html author = author %>
<% INCLUDE inc/contributors.html
    contributors = release.metadata.x_contributors %>
</div>
<% INCLUDE inc/dependencies.html dependencies = release.dependency %>

<div class="content">

<%
documentation = [];
documentation_raw = [];
provides      = [];
modules       = [];
FOREACH file IN files;
  IF file.documentation && file.module;
    modules.push(file);
    FOREACH module IN file.module;
      IF module.name != file.documentation && module.indexed && module.authorized;
        provides.push({ status = file.status, title = module.name, path = file.path });
      END;
    END;
  ELSIF file.module;
    FOREACH module IN file.module;
      provides.push({ path = file.path, title = module.name });
    END;
  ELSIF file.documentation;
        documentation.push(file);
  ELSE;
        documentation_raw.push(file);
  END;
END;
documentation = documentation.merge(documentation_raw);
%>
<% IF modules.size %><strong>Modules</strong>
<% FOREACH module IN modules %>
  <div>
    <strong><% link_to_file(module) | none %></strong><% IF module.abstract %> - <% module.abstract; END %>
  </div>
<% END %>

<br><% END %>
<% IF documentation.size %><strong>Documentation</strong>
<% FOREACH module IN documentation %>
  <div>
    <strong><% link_to_file(module) | none %></strong><% IF module.abstract %> - <% module.abstract; END %>
  </div>
<% END %>

<br><% END %>
<% IF provides.size %><strong>Provides</strong>
<% FOREACH module IN provides.sort('title') %>
  <div>
    <strong><a href="/source/<% release.author; '/'; release.name; '/'; module.path ; '#P'; module.title | uri %>"><% module.title %></a></strong> in <% module.path %>
  </div>
<% END %>

<br><% END %>
<% IF examples.size %><strong>Examples</strong>
<% FOREACH file IN examples.sort('path') %>
  <div>
    <% IF file.pod_lines %>
      <strong><a href="/module/<% release.author; '/'; release.name; '/'; file.path %>"><% file.path %></a></strong>
    <% ELSE %>
      <strong><a href="/source/<% release.author; '/'; release.name; '/'; file.path %>"><% file.path %></a></strong>
    <% END %>
  </div>
<% END %>

<br><% END %>
<% IF root.size %><strong>Other files</strong>
<% FOREACH file IN root %>
<div><strong><a href="/<% file.documentation ? "module" : "source" %>/<% release.author; '/'; release.name; '/'; file.name %>"><% file.name %></a></strong></div>
<% END; END %>

</div>
