<% title = release.name _ ' - ' _ release.abstract; rss = 'distribution/' _ release.distribution %>
<% canonical = '/release/' _ release.distribution %>
<% meta_description = release.abstract %>
<% twitter_card_inc = 'inc/twitter/release.html' %>
<% INCLUDE inc/breadcrumbs.html %>

<ul class="nav nav-list slidepanel">
    <li class="visible-phone search">
      <form action="<% IF req.uri.path == '/mirrors'; req.uri.path; ELSE; '/search'; END %>">
        <input type="search" placeholder="Search" name="q"><input type="submit" class="hidden">
      </form>
    </li>
    <li class="nav-header"><span class="relatize"><% release.date.dt_http %></span></li>
    <%- IF changes %>
    <li><a href="/<% changes.documentation ? "module" : "source" %>/<% release.author; '/'; release.name; '/'; changes.name %>">Changes</a></li>
    <%- END %>
    <li><span><a href="/source/<% release.author %>/<% release.name %>/">Browse</a> (<a href="<% api_external %>/source/<% release.author %>/<% release.name %>/">raw</a>)</span></li>
    <% PROCESS inc/release-info.html %>
    <li class="nav-header">Activity</li>
    <% INCLUDE inc/activity.html query = 'distribution=' _ release.distribution %>
    <% IF release.metadata.x_help_wanted %>
    <li>Help Wanted<ul>
    <% FOREACH position IN release.metadata.x_help_wanted %>
      <li><% position %></li>
    <% END %>    
    </ul></li>
    <% END %>
    <%- INCLUDE inc/release-tools.html %>
</ul>

<div class="pull-right hidden-phone"><% INCLUDE inc/author-pic.html author = author %>
<% INCLUDE inc/contributors.html
    contributors = release.metadata.x_contributors %>
</div>
<% INCLUDE inc/dependencies.html dependencies = release.dependency %>

<div class="content">

<%
documentation = [];
documentation_raw = [];
provides      = [];
modules       = [];
FOREACH file IN files;
  IF file.documentation && file.module;
    modules.push(file);
    FOREACH module IN file.module;
      IF module.name != file.documentation && module.indexed && module.authorized;
        # There must be a better way...
        provides.push({ status = file.status, package = module.name, path = file.path, release = release.name, author = release.author });
      END;
    END;
  ELSIF file.module;
    FOREACH module IN file.module;
      provides.push({ status = file.status, package = module.name, path = file.path, release = release.name, author = release.author });
    END;
  ELSIF file.documentation;
        documentation.push(file);
  ELSE;
        documentation_raw.push(file);
  END;
END;
documentation = documentation.merge(documentation_raw);
%>

<% IF documentation.size %><a name="docs"></a><strong>Documentation</strong>
<% FOREACH module IN documentation %>
  <div>
    <strong><% link_to_file(module) | none %></strong><% IF module.abstract %> - <% module.abstract; END %>
  </div>
<% END %>

<br><% END %>
<% IF modules.size %><a name="modules"></a><strong>Modules</strong>
<% FOREACH module IN modules %>
  <div>
    <strong><% link_to_file(module) | none %></strong><% IF module.abstract %> - <% module.abstract; END %>
  </div>
<% END %>

<br><% END %>
<% IF provides.size %><a name="provides"></a><strong>Provides</strong>
<% FOREACH module IN provides.sort('package') %>
  <div>
    <strong><% link_to_source(module) | none %></strong> in <% module.path %>
  </div>
<% END %>

<br><% END %>
<% IF examples.size %><a name="examples"></a><strong>Examples</strong>
<% FOREACH file IN examples.sort('path') %>
  <div>
    <% IF file.path.match('\.pod$') %>
      <strong>
        <% link_to_file(file, file.path) | none %>
      </strong>
    <% ELSE %>
      <strong>
        <% link_to_source(file) | none %>
      </strong>
        <% IF file.pod_lines %>
          [<strong>
            <% link_to_file(file, "pod") | none %>
          </strong>]
        <% END %>
    <% END %>
  </div>
<% END %>

<br><% END %>
<% IF root.size %><a name="other"></a><strong>Other files</strong>
<% FOREACH file IN root %>
<div><strong><% link_to_file(file, file.name) | none %></strong></div>
<% END %><br><% END %>

<% IF last_version_changes; SET v = last_version_changes; %>
<a name="whatsnew"></a>
<strong>Changes for version <% v.version %></strong>
<div class="last-changes">
    <ul>
    <% FOREACH group IN v.groups; SET changes = v.changes(group) %>
    <li><span class="group-header"><% group %></span>
            <ul class="changes">
                <% FOREACH change IN changes %>
                <li<% IF change.search('^\-'); change = change.remove('^\-') %> class="nested"<% END %>><% change | none %></li>
                <% END %>
            </ul>
        </li>

    <% END %>
</ul>
</div>
<% END %>
</div>
