<%- title = "Distributions which depend on " _ module %>
<div class="search-bar">
  <% INCLUDE inc/activity.html query = "requires=" _ module %>
  <hr>
  <strong>Index</strong>
  <ul>
    <a href=""><li>Latest</li></a>
    <a href=""><li>CPAN</li></a>
    <a href=""><li>BackPAN</li></a>
  </ul>
</div>

<div class="content">
<center><h1><strong>Distributions Which Depend on <%- module %> (Reverse Dependencies)</strong></h1></center>
<% IF data.size > 0 %>
<% INCLUDE inc/release-table.html releases = data, header = 1, tablesorter = 1 %>
<% INCLUDE inc/pager.html size = 50 %>
<% ELSE %>
<big><strong>No depedants for <% module %> could be found</strong></big>
<% END %>
</div>
