<%- query = req.param('q').join(' '); title = 'Search for "' _ query _ '"' %>
<div class="search-bar">
  <!--<ul class="search-type">
    <a href="/search?q="><li class="icon icon-module">Modules</li></a>
    <a href="/search?q=author:<% query %>"><li class="icon icon-user">Authors</li></a>
    <li class="icon icon-dist">Distributions</li>
    <li class="icon icon-server">Mirrors</li>
  </ul>
  <hr>-->
  <strong>Tags</strong>
  <div class="search-tag">
    <ul><!--
    <li><a style="background-color: <% "stable".to_color %>">8x stable <span>x</span></a></li>
    <li><a style="background-color: <% "moose".to_color %>">3x moose<span>x</span></a></li>
    <li><a style="background-color: <% "deprecated".to_color %>">2x deprecated<span>x</span></a></li>
  -->
  <li><i>none</i></li>
  </ul>
  </div>
  <!--<a href="">more ...</a>-->
  <hr>
  <strong>Index</strong>
  <ul>
    <a href=""><li>Latest</li></a>
    <a href=""><li>CPAN</li></a>
    <a href=""><li>BackPAN</li></a>
  </ul>
</div>

<div class="search-results">
<% FOREACH group IN results; item = group.0 %>
  <big><strong>
    <% IF item.documentation -%>
    <a href="/module/<% IF item.status == 'latest'; item.documentation; ELSE; [item.author, item.release, item.path].join("/"); END %>"><% item.documentation %></a>
    <% ELSE -%>
    <a href="/source/<% [item.author, item.release, item.path].join("/") %>"><% item.path %></a>
    <% END -%>
     <% IF item.abstract; ' - '; item.abstract; END %>
  </strong></big>
  <a href="" class="favorite<% IF item.myfavorite %> active<% END %>"><% item.favorites %> +1</a><br>
  <% IF item.description %><p class="description"><% item.description.chunk(250).0 _ '...' %></p>
  <% END %>
  <a href="/author/<% item.author %>"><% item.author %></a><a href="/release/<% IF item.status == 'latest'; item.distribution; ELSE; item.author; '/'; item.release; END %>">/<% item.release %></a>
  <%- IF item.rating.count > 0 %>
    &nbsp;<div class="rating-<% (item.rating.mean * 2).fmt('%.0f') / 2 * 10 %>"></div>
    (<a href="http://cpanratings.perl.org/dist/<% item.distribution %>"><% item.rating.count %> review<% IF item.rating.count > 1; 's'; END %></a>)
  <%- END %> -
  <span class="relatize"><% item.date.dt_http %></span> -
  <a href="/search?q=distribution:<% item.distribution %>+<% query %>">Search in distribution</a>
  <!-- <% item.score %> -->
<br>
<% IF group.size > 1 %>
<ul class="search-group">
    <% FOREACH item IN group; IF loop.first; NEXT; END; IF loop.index > 3; LAST; END %><li><% IF item.documentation -%>
    <a href="/module/<% IF item.status == 'latest'; item.documentation; ELSE; [item.author, item.release, item.path].join("/"); END %>"><% item.documentation %></a>
    <% ELSE -%>
    <a href="/source/<% [item.author, item.release, item.path].join("/") %>"><% item.path %></a>
    <% END -%> <% IF item.abstract; ' - '; item.abstract; END %></li><!-- <% item.score %> --><% END %>
    <% IF group.size > 4 %><li><a href="/search?q=distribution:<% item.distribution %>+<% query %>"><% group.size - 4 %> more result<% IF group.size - 4 > 1; 's'; END %> from <% item.distribution %> »</a></li><% END %>
</ul>
<% END %>
<br>
<% END %>
<% INCLUDE inc/pager.html size = 20 %>
</div>
<pre>