<%- query = req.param('q').join(' '); title = 'Search for "' _ query _ '"' %>
<% INCLUDE left_sidebar.html %>
<div class="search-results">
<% IF authors.total %>
  <div class="author-search">
    <ul class="authors clearfix">
      <%- FOREACH author IN authors.results %>
        <li>
          <a href="/author/<% author.id %>" title="Author page for <% author.name | html %>">
            <%- IF author.gravatar_url %>
              <img src="<% author.gravatar_url.gravatar_fixup(30) %>">
            <%- END %>
            <% author.name | html %> (<% author.pauseid %>)
          </a>
          <form action="/account/trust/add" style="display: inline" onsubmit="return trustAuthor(this)">
          <button type="submit" class="btn">Trust author</button>
	  </form>        
	</li>
      <% END %>
    </ul>
  </div>
<% END %>
