<%- rss = 'distribution/' _ module.distribution %>
<%- title = module.path %>
<strong><big>
    <a href="/source/<% base = [module.author, module.release].join("/"); base %>"><% [module.author, module.release].join(" / ") %></a>
    <% doc_view_url = [base,module.path].join("/") %>
    <% raw_url = [api,'source',base,module.path].join("/") %>
  <% FOREACH part IN module.path.split("/"); base = base _ "/" _ part -%>
    / <% UNLESS loop.last %><a href="/source/<% base %>"><% part %></a><% ELSE %><% part %><% END %>
    <% END %>
  </big></strong><br><br>

<div class="search-bar">
  <strong>Tools</strong>
  <ul>
    <li><a href="/release/<% module.author %>/<% module.release %>/">Release Info</a></li>
    <% IF module.documentation %>
      <li><a href="/module/<% module.documentation %>">Module Documentation</a></li>
    <% ELSIF module.slop %>
      <li><a href="/module/<% doc_view_url %>">Documentation View</a></li>
    <% END %>
    <li><a href="/author/<% module.author %>/">Author</a></li>
    <li>&nbsp;</li>
    <li><a href="<% raw_url %>">Raw code</a></li>
    <li><a href="/raw/<% module.author %>/<% module.release %>/<% module.path %>?download=1">Download</a></li>
    <% IF module.sloc > 0 %>
    <li><a href="javascript:togglePod(<% module.pod_lines.json %>)">Toggle pod</a></li>
    <% END %>
  </ul>
  <hr>
  <strong>Info</strong>
  <ul>
    <li><% module.sloc %> lines of code</li>
    <li><% module.slop %> lines of pod</li>
    <li><% module.stat.size | format_bytes %> bytes</li>
  </ul>
</div>

<div class="content">
<% IF !module.binary %>
<pre class="brush: <% filetype %>; class-name: 'highlight'; toolbar: false;" id="source"><% source %></pre>
<% ELSE %>
This file cannot be displayed inline.  Try the <a href="<% raw_url %>">raw file</a>.
<% END %>
</div>

<script type="text/javascript">

//document.getElementById('source').style.visibility = 'hidden';
//SyntaxHighlighter.all();
$(document).ready(function() {
<% IF module.sloc > 0 %>
togglePod(<% module.pod_lines.json %>);
<% END %>
if(document.location.hash)
    document.location.href = document.location.href;
});
</script>
