<%- rss = 'distribution/' _ module.distribution %>
<%- title = module.path %>
<strong><big>
    <a href="/source/<% base = [module.author, module.release].join("/"); base %>"><% [module.author, module.release].join(" / ") %></a>
    <% doc_view_url = [base,module.path].join("/") %>
    <% raw_url = [api,'source',base,module.path].join("/") %>
  <% FOREACH part IN module.path.split("/"); base = base _ "/" _ part -%>
    / <% UNLESS loop.last %><a href="/source/<% base %>"><% part %></a><% ELSE %><% part %><% END %>
    <% END %>
  </big></strong><br><br>

<ul class="nav nav-list slidepanel">
  <li class="visible-phone search">
    <form action="<% IF req.uri.path == '/mirrors'; req.uri.path; ELSE; '/search'; END %>">
      <input type="search" placeholder="Search" name="q"><input type="submit" class="hidden">
    </form>
  </li>
  <li class="nav-header">Tools</li>
  <li>
    <div>
      <a href="/release/<% module.author %>/<% module.release %>/">Release Info</a>
    </div>
  </li>
  <% IF module.documentation %>
    <li>
      <div>
        <a href="/module/<% module.documentation %>">Module Documentation</a>
      </div>
    </li>
  <% ELSIF module.slop %>
    <li>
      <div>
        <a href="/pod/release/<% doc_view_url %>">Documentation View</a>
      </div>
    </li>
  <% END %>
  <li>
    <div>
      <a href="/author/<% module.author %>/">Author</a>
    </div>
  </li>
  <li>&nbsp;</li>
  <li><div><a href="<% raw_url %>">Raw code</a></div></li>
  <li>
    <div>
      <a href="/raw/<% module.author %>/<% module.release %>/<% module.path %>?download=1">Download</a>
    </div>
  </li>
  <% IF module.sloc > 0 %>
  <li><div><a href="javascript:togglePod(<% module.pod_lines.json %>)">Toggle pod</a></div></li>
  <% END %>
  <li class="nav-header">Info</li>
  <li><% module.sloc %> lines of code</li>
  <li><% module.slop %> lines of pod</li>
  <li><% module.stat.size | format_bytes %> bytes</li>
</ul>

<div class="content">
<% IF !module.binary %>
<pre class="brush: <% filetype %>; class-name: 'highlight'; toolbar: false;" id="source"><% source %></pre>
<% ELSE %>
This file cannot be displayed inline.  Try the <a href="<% raw_url %>">raw file</a>.
<% END %>
</div>

<script type="text/javascript">

//document.getElementById('source').style.visibility = 'hidden';
//SyntaxHighlighter.all();
$(document).ready(function() {
<% IF module.sloc > 0 %>
togglePod(<% module.pod_lines.json %>);
<% END %>
if(document.location.hash)
    document.location.href = document.location.href;
});
</script>
