<%- menu = [{
  title = "Home",
  path = ["/", "/search"]
},
{
  title = "Recent",
  path = ["/recent"]
},
{
  title = "Mirrors",
  path = ["/mirrors"]
},
{
  title = "FAQ",
  path = ["https://github.com/CPAN-API/cpan-api/wiki/FAQ"]
},
{
  title = "Feedback",
  path = ["https://github.com/CPAN-API/metacpan-web/issues"]
},
] %>
<!DOCTYPE HTML>
<html>
<head>
  <title><% IF title; title; ELSE; 'Search the CPAN'; END %> - metacpan.org</title>
  <%- IF rss %><link rel="alternate" type="application/rss+xml" title="RSS" href="http://metacpan.org/feed/<% rss %>" /><% END %>
  <link href="<% req.env.item('psgix.assets').1 %>" rel="stylesheet" type="text/css">
  <link rel="search" href="/static/opensearch.xml" type="application/opensearchdescription+xml" title="MetaCPAN">
  <link rel="icon" type="image/png" href="/static/icons/favicon.png" />
  <script src="<% req.env.item('psgix.assets').0 %>" type="text/javascript"></script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27829474-1']);
  _gaq.push(['_setDomainName', 'metacpan.org']);
  _gaq.push(['_setSiteSpeedSampleRate', 100]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>

<% IF twitter_card_inc %>
<% INCLUDE $twitter_card_inc %>
<% END %>

</head>
<body>
  <div class="header">
    <% FOREACH item IN menu; bold = item.path.grep(->{ this == req.uri.path} ).size;
    IF bold; '<strong>' | none; END %><a href="<% item.path.0 %>"><% item.title %></a><% IF bold; '</strong>' | none; END; END %>
    <%- IF user_exists %>
    <a class="settings" href="/account/profile"><img src="/static/icons/settings.png" width=16></a>
    <div class="spacer" style="text-align: right"><strong>Welcome</strong></div>
    <%- ELSE %>
    <div class="spacer" style="text-align: right"><strong id="signin-button">Sign in</strong></div>
  </div>
  <div id="signin" style="display: none; position: absolute; right: 2px; top: 0px">
      <div style="border-color: #CCC #999 #fff #CCC; border-width: 1px; border-style: solid; position: relative; top: 1px; background-color: #fff; width: 50px; left: 30px; padding: 5px; text-align: right"><strong>Sign in</strong></div>
         <div class="ds"><div style="border-color: #CCC #999 #999 #CCC; border-width: 1px; border-style: solid; background-color: #fff; width: 80px;  padding: 5px;"><% FOREACH identity IN ['Facebook', 'GitHub', 'Twitter', 'Google'] %>
             <a href="<% api_secure %>/oauth2/authorize?choice=<% identity.lower %>&amp;client_id=<% c.config.consumer_key %>&amp;state=<% c.req.path | uri %>" onclick="return logInPAUSE(this)"><% identity %></a><% END %>
          </div></div><% END %>
  </div>
<div style="float: right; text-align: right; padding-right: 5px; margin-top: -15px"><a href="https://github.com/CPAN-API/metacpan-web/issues/new"><small>Problem?<br>Open an issue!</small></a></div>
  <% IF req.uri.path != '/' %>
  <div style="text-align: center" class="home">
    <form action="<% IF req.uri.path == '/mirrors'; req.uri.path; ELSE; '/search'; END %>">
      <div style="display: inline-block; text-align: left">
        <div style="float: left; padding-top: 13px; padding-left: 10px;">
          <div class="small-logo">
            <a href="/"><img src="/static/images/t.gif" width="180" height="34" alt="MetaCPAN Logo" /></a>
          </div>
          <div class="ds">
            <input type="text" name="q" size="41" id="search-input" value="<% req.param('q').join(' ') %>"><input type="submit" value="Search" class="g-button" />
          </div><br>
          <small style="font-size: 0.8em"><% IF total.defined; IF page > 1 %>Page <% page %> of <% END; IF total == 999; 'more than '; END; total | format_number %> result<% IF total != 1; 's'; END %> (<% took / 1000 %> seconds)<% ELSE; "&nbsp;" | none; END %></small>
        </div>

      <div style="float: left; width: 168px"></div>
      </div>
    </form>
  </div>
  <% END %>
  <br>
  <div id="content"><% content | none %>
  </div>
  <br><br><br>
  <table class="footer" width="100%">
    <tr>
      <td style="width: 200px; float: left"></td>
     <td style="text-align: center">
    <a href="https://github.com/CPAN-API/cpan-api/wiki/Beta-API-docs">API</a> &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="/about/resources">About MetaCPAN</a> &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="https://github.com/CPAN-API/metacpan-web">Fork metacpan.org</a>
    </td>
    <td style="width: 200px; float: right; text-align: right; font-size: 0.7em; color: #999; position: relative">
      Hosting generously<br>sponsored by <a href="http://www.bytemark.co.uk/r/metacpan.org/">Bytemark</a>
      <br><br>
      <a href="http://www.bytemark.co.uk/r/metacpan.org/" target="_blank">
        <img src="/static/images/bytemark_logo.png" width=179 height=14>
      </a>
    </td>
  </tr>
</table>
  </body>
</html>
