<%- title = "CPAN Top Uploaders" %>
<ul class="nav nav-list">
  <li class="nav-header">Date Range</li>
  <li>
    <div>
      <a href="<% c.uri_for('/recent/topuploaders/weekly') %>"<% IF range == 'weekly' %> class="strong"<% END %>>Weekly</a>
    </div>
  </li>
  <li>
    <div>
      <a href="<% c.uri_for('/recent/topuploaders/monthly') %>"<% IF range == 'monthly' %> class="strong"<% END %>>Monthly</a>
    </div>
  </li>
  <li>
    <div>
      <a href="<% c.uri_for('/recent/topuploaders/yearly') %>"<% IF range == 'yearly' %> class="strong"<% END %>>Yearly</a>
    </div>
  </li>  
  <li>
    <div>
      <a href="<% c.uri_for('/recent/topuploaders/all') %>"<% IF range == 'all' %> class="strong"<% END %>>All time</a>
    </div>
  </li>
</ul>

<div class="content">
<% FOREACH author IN authors %>
<div style="float:left; width: 300px; height: 100px; overflow: hidden">
    <%- IF author.gravatar_url; author.gravatar_url = author.gravatar_url.replace("^http://(www\.)?gravatar.com/", "https://secure.gravatar.com/") %>
    <div style="float: left; text-align: center; padding: 10px;">
        <a href="/author/<% author.pauseid %>">
            <img src="<% author.gravatar_url %>" class="author-img" style="width: 75px; height: 75px">
        </a>
    </div>
    <%- END %>
    <div style="padding: 10px; white-space: nowrap">
        <strong>
            <a rel="author" href="/author/<% author.pauseid %>"><% author.pauseid %></a>
        </strong><br>
        <span title="<% author.asciiname %>"><% author.name %></span>
        <br><br>
        <strong><% author.releases %> release<% IF author.releases > 1 %>s<% END %></strong>
    </div>
</div>
<% END %>
<div style="clear: both"></div>
</div>