<% PROCESS inc/about-bar.html %>
<% title = 'meta::hack' %>
<div class="content about about-sponsor">
    <div class="sponsor">
      <div class="row">
        <div class="col-md-12">
          <h1><center>Platinum Sponsors</center></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <a href="http://www.booking.com/"><img src="/static/images/sponsors/booking.jpeg" align="left"></a>
        </div>
        <div class="col-md-10">
          <p><a href="http://www.booking.com/">Booking.com</a> formerly provided a server for testing and content backup.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1><center>Gold Sponsors</center></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1><center>Silver Sponsors</center></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1><center>Bronze Sponsors</center></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <a href="https://www.easyname.com/en"><img src="/static/images/sponsors/easyname.png" align="left"></a>
        </div>
        <div class="col-md-10">
          <p>
            <a href="https://www.easyname.com/en">easyname.com</a> is the first official sponsor of meta::hack.
          </p>
          <p>

            easyname is an international domain and webhosting provider.
            easyname has positioned itself as an honest provider tailored
            towards professionals and domainers. They do not practice deceptive
            marketing tactics and sneaky upsells. They are proud long time
            supporters of CPAN.

          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <a href="http://www.enlightenedperl.org/"><img src="/static/images/sponsors/epo.png" align="left"></a>
        </div>
        <div class="col-md-10">
          <p>The Enlightened Perl Organisation has kindly managed all sponsor money for meta::hack.</p>
        </div>
      </div>
    </div>
</div>
