<% PROCESS inc/about-bar.html %>
<div class="content about-resources">
<% USE Markdown -%>
<% FILTER markdown %>
# Contact

## Twitter

Follow our Twitter account for latest updates around MetaCPAN: [@metacpan](http://twitter.com/metacpan)

## IRC

This is the best place to discuss new ideas and get involved. Join us on [#metacpan on irc.perl.org](irc://irc.perl.org/metacpan).

## E-Mail

The MetaCPAN team is also available via E-Mail at [noc@metacpan.org](mailto:noc@metacpan.org).

# Source Code

MetaCPAN consists of two projects:

## Front-End

This is what you are looking at right now. The source code is on [github](https://github.com/CPAN-API/metacpan-web).

## Back-End

Front-End is a slim wrapper around the Back-End. It provides a REST API to data around CPAN and its eco system. The code is also on [github](https://github.com/CPAN-API/cpan-api).

<% END %>

</div>