<% PROCESS inc/about-bar.html %>
<% title = 'Sponsors' %>
<div class="content about about-sponsor">
    <div class="sponsor">
        <table>
            <tr>
                <td>
                    <a href="http://www.fastly.com/" target="_blank">
                        <img src="/static/images/fastly_logo.png" width=110 height=51>
                    </a>
                </td>
                <td>
                    <p><a href="http://www.fastly.com/">Fastly</a> provides us CDN services, so we are faster around the world.</p>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="http://www.bytemark.co.uk/r/metacpan.org/" target="_blank">
                        <img src="/static/images/bytemark_logo.png" width=179 height=14>
                    </a>
                </td>
                <td>
                    <p>Hosting is generously sponsored by <a href="http://www.bytemark.co.uk/r/metacpan.org/" target="_blank">Bytemark Hosting</a>.</p>
                    <p>Bytemark Hosting is the UK's "geek hosting outfit of choice" because its programmer &amp; network-engineer team have built it that way since 2002, with their own tools, software and technical expertise. They understand web applications and network infrastructure equally, and host names such as Bostik, dopplr.com and Britain's largest mystery shopping company, Retail Eyes. Their hosting starts at only £15 per month and runs to multi-site managed setups for customers with the fussiest demands of reliability and failover.</p>
                </td>
            </tr>
            <tr>
                <td><a href="http://dyn.com"><img src="/static/images/dyn.png" width="150" height="47" align="left"></a></td>
                <td><p><a href="http://dyn.com">Dyn</a> provides MetaCPAN with free DNS hosting.</p>
                    <p>
                    Founded in 1998 as DynDNS.org, Dyn is the Infrastructure
                    as a Service (IaaS) leader, powering DNS and email
                    delivery for enterprise, small business and personal
                    users. The company’s DNS offerings range from simple DNS
                    management to a robust enterprise class DNS solution built
                    on a 17-location, globally diverse IP Anycast network with
                    advanced Load Balancing, Geographic Traffic Management and
                    CDN control features. The company’s email products provide
                    inbound and outbound delivery solutions, highlighted by a
                    comprehensive enterprise-class MTA service focused on
                    maximum email deliverability and inbox monitoring. Dyn is
                    committed to customer relationships and engineering
                    excellence. Uptime is the Bottom Line. <a
                    href="http://dyn.com">dyn.com</a> - <a
                    href="http://twitter.com/#!/DynInc">@DynInc</a>.
                    </p>
                </td>
            </tr>
            <tr>
                <td><a href="http://speedchilli.com"><img src="/static/images/speedchilli.png" width=150 height=32 align="left"></a></td>
                <td>
                    <p><a href="http://speedchilli.com">speedchilli</a> provided MetaCPAN with free hardware and bandwidth from 2010 to 2012.</p>
                    <p><i>"We are a web solutions company providing hosting and open source consultancy. We provide reliable, cost effective hosting for customers who require anything from a single dedicated server to a fully managed hosting solution. Being a business based around open source we feel it is important to give back to the community and are very happy to support the metacpan.org project."</i> - Stewart Hunt</p></td>
            </tr>
        </table>
    </div>
    <br />
    <center><strong>If you are interested in sponsoring MetaCPAN, please don't hesitate to contact us at <a href="mailto:noc@metacpan.org">noc@metacpan.org</a>.</strong></center>
</div>
