<div class="search-bar">
  <% INCLUDE inc/author-pic.html author = author float = 'left' %>
  <div style="clear: both; text-align: center"></div>
  <a href="mailto:<% author.email %>"><% author.email %></a>
  <hr>
  <strong><% total %> release<% IF total != 1 %>s<% END %></strong>
  
</div>

<div class="content">
<div>
<% counter = 1; releases.push({}); FOREACH release IN releases; IF last == release.distribution; counter = counter + 1; NEXT; ELSE; UNLESS counter == 1; %>(<% counter %> releases)<% END; last = release.distribution; counter = 1; END; UNLESS release.name; NEXT; END %>
</div>
<div>
  <strong><a href="/release/<% IF release.status == 'latest'; release.distribution; ELSE; release.author; '/'; release.name; END %>"><% release.name %></a></strong><% IF release.abstract %> - <% release.abstract %><% END %>
<% END %>
</div>