<% title = module.documentation; rss = 'distribution/' _ module.distribution %>
<strong><big>
  <a href="/author/<% module.author %>"><% author.name %></a>
  &nbsp;/&nbsp;
  <a href="/release/<% IF release.status == 'latest'; release.distribution; ELSE; [module.author, module.release].join('/'); END %>"><% module.release %></a>
  &nbsp;/&nbsp;
  <% module.documentation %>
  </big></strong><% IF release.status != 'latest' %><div style="float: right"><strong><big><% IF release.maturity == 'developer'; 'dev release, '; END %></big><a href="/module/<% module.documentation %>"><big>go to latest</big></a></strong></div><% END %><br><br>

<div class="search-bar">
  <strong></strong>
  <div>
    <ul>
      <li><strong class="relatize"><% module.date.dt_http %></strong></li>
      <% IF module.module.0.version %><li>Module version: <% module.module.0.version %></li><% END %>
      <li>
        <a href="/source/<% module.author %>/<% module.release %>/<% module.path %>">Source</a>
        (<a href="http://api.metacpan.org/source/<% module.author %>/<% module.release %>/<% module.path %>">raw</a>)
      </li>
      <li><a href="http://api.metacpan.org/source/<% module.author %>/<% module.release %>/">Browse</a></li>
      <% INCLUDE inc/release-info.html %>
      <% IF others.size > 1 %>
      <select name="release" onchange="document.location.href='/release/' + this.value">
      <option>Go to version</option>
      <% FOREACH other IN others; IF release.name == other.name; NEXT; END %>
      <option value="<% other.author; '/'; other.name %>"><% other.version %> (<% dt = other.date.dt; [dt.day.format("%02d"), dt.month.format("%02d"), dt.year].join("/") %>)</option>
      <% END %>
      </select>
      <% END %>
    </ul>
  </div>
  <hr>
  <strong>Tools</strong>
  <ul>
    <% IF 1 == 0 && others.size > 1 %>
    <li>
      <select name="release" onchange="document.location.href='/release/' + this.value">
      <option>Diff with version</option>
      <% FOREACH other IN others; IF release.name == other.name; NEXT; END  %>
      <option value="<% other.author; '/'; other.name %>"><% other.version %> (<% dt = other.date.dt; [dt.day.format("%02d"), dt.month.format("%02d"), dt.year].join("/") %>)</option>
      <% END %>
    </select></li>
    <% END %>
    <li>Search distribution:<br>
      <form action="/search">
      <input type="hidden" name="q" value="distribution:<% release.distribution %>">
      <input type="text" name="q">
      <input type="submit" style="display: none"></form></li>
    <li><a href="#" onclick="return toggleTOC()">Toggle Table of Contents</a></li>
  </ul>
  <hr>
  <% INCLUDE inc/activity.html query = 'distribution=' _ release.distribution %>
  <hr>
  <strong>Permalinks</strong>
  <ul>
    <li><a href="/module/<% module.author %>/<% module.release %>/<% module.path %>">This version</a></li>
    <li><a href="/module/<% module.documentation %>">Latest version</a></li>
  </ul>
</div>

<% INCLUDE inc/author-pic.html author = author %>
<% INCLUDE inc/dependencies.html dependencies = release.dependency %>
<% IF req.cookies.hideTOC %><style>#index { display:none}</style><% END %>
<div class="pod">
<% pod.replace(/<pre><code>/, '<pre class="brush: pl; class-name: \'highlight\'; toolbar: false; gutter: false">').replace(/<\/code><\/pre>/, '</pre>') | none %>
</div>
