<div class="search-bar">
  <ul class="search-type">
    <a href="/search?q="><li class="icon icon-module">Modules</li></a>
    <a href="/search?q=author:<% query %>"><li class="icon icon-user">Authors</li></a>
    <li class="icon icon-dist">Distributions</li>
    <li class="icon icon-server">Mirrors</li>
  </ul>
  <hr>
  <strong>Tags</strong>
  <div class="search-tag">
    <ul>
    <li><a style="background-color: <% "stable".to_color %>">8x stable <span>x</span></a></li>
    <li><a style="background-color: <% "moose".to_color %>">3x moose<span>x</span></a></li>
    <li><a style="background-color: <% "deprecated".to_color %>">2x deprecated<span>x</span></a></li>
  </ul>
  </div>
  <a href="">more ...</a>
  <hr>
  <strong>Index</strong>
  <ul>
    <a href=""><li>Latest</li></a>
    <a href=""><li>CPAN</li></a>
    <a href=""><li>BackPAN</li></a>
  </ul>
</div>

<div class="content">
<% 
FOREACH release IN recent;
date = release.date.dt;
day = date.day _ '/' _ date.month _ '/' _ date.year %>
<% IF day != last %>
<br><big><strong><% day; last = day %></strong></big>
<% END %>
<div>
  <strong>
    <a href="/release/<% IF release.status == 'latest'; release.distribution; ELSE; release.author; '/'; release.name; END %>"><% release.name %></a>
  </strong><% IF release.abstract %> - <% release.abstract %><% END %> (<a href="/author/<% release.author %>"><% release.author %></a>)
</div>
<% END %>
</div>