<div class="search-bar">
  <strong>Statistics</strong>
    <ul>
      <li>24 hours: 22</li>
  </ul>
  <hr>
  <strong>Index</strong>
  <ul>
    <a href=""><li>Latest</li></a>
    <a href=""><li>CPAN</li></a>
    <a href=""><li>BackPAN</li></a>
  </ul>
</div>

<div class="content">
<% 
FOREACH release IN recent;
date = release.date.dt;
day = date.day _ '/' _ date.month _ '/' _ date.year %>
<% IF day != last %>
<% IF !loop.first %><br><% END %><big><strong><% day; last = day %></strong></big>
<% END %>
<div>
  <strong>
    <a href="/release/<% IF release.status == 'latest'; release.distribution; ELSE; release.author; '/'; release.name; END %>"><% release.name %></a>
  </strong><% IF release.abstract %> - <% release.abstract %><% END %> (<a href="/author/<% release.author %>"><% release.author %></a>)
</div>
<% END %>
</div>