<% title = release.name; rss = 'distribution/' _ release.distribution %>
<strong><big><a href="/author/<% release.author %>"><% author.name %></a> &nbsp;/&nbsp; <% release.name %></big></strong><% IF release.status != 'latest' %><div style="float: right"><strong><big><% IF release.maturity == 'developer'; 'dev release, '; END %></big><a href="/release/<% release.distribution %>"><big>go to latest</big></a></strong></div><% END %><br><br>

<div class="search-bar">
  <div>
    <ul>
      <li><strong class="relatize"><% release.date.dt_http %></strong></li>
      <li><a href="<% release.download_url %>">Download</a> (<% release.stat.size | format_bytes %>)</li>
      <li><a href="http://api.metacpan.org/source/<% release.author %>/<% release.name %>/">Browse</a></li>
      <% INCLUDE inc/release-info.html %>
      <% IF others.size > 1 %>
      <select name="release" onchange="document.location.href='/release/' + this.value">
      <option>Go to version</option>
      <% FOREACH other IN others; IF release.name == other.name; NEXT; END %>
      <option value="<% other.author; '/'; other.name %>"><% other.version %> (<% dt = other.date.dt; [dt.day.format("%02d"), dt.month.format("%02d"), dt.year].join("/") %>)</option>
      <% END %>
      </select>
      <% END %>
    </ul>
  </div>
  <hr>
  <strong>Tools</strong>
  <ul><!--
    <% IF others.size > 1 %>
    <li>
      <select name="release" onchange="document.location.href='/release/' + this.value">
      <option>Diff with version</option>
      <% FOREACH other IN others; IF release.name == other.name; NEXT; END  %>
      <option value="<% other.author; '/'; other.name %>"><% other.version %> (<% dt = other.date.dt; [dt.day.format("%02d"), dt.month.format("%02d"), dt.year].join("/") %>)</option>
      <% END %>
    </select></li>
    <% END %>-->
    <li>Search distribution:<br>
      <form action="/search">
      <input type="hidden" name="q" value="distribution:<% release.distribution %>">
      <input type="text" name="q">
      <input type="submit" style="display: none"></form></li>
  </ul>
  <hr>
  <% INCLUDE inc/activity.html query = 'distribution=' _ release.distribution %>
  <hr>
  <strong>Permalinks</strong>
  <ul>
    <li><a href="/release/<% release.author %>/<% release.name %>">This version</a></li>
    <li><a href="/release/<% release.distribution %>">Latest version</a></li>
  </ul>
</div>

<% INCLUDE inc/author-pic.html author = author %>
<% INCLUDE inc/dependencies.html dependencies = release.dependency %>

<div class="content">

<%
documentation = [];
provides      = [];
modules       = [];
FOREACH file IN files;
  IF file.documentation && file.module;
    modules.push({ status = file.status, title = file.documentation, path = file.path, abstract = file.abstract });
    FOREACH module IN file.module;
      IF module.name != file.documentation;
        provides.push({ status = file.status, title = module.name, path = file.path });
      END;
    END;
  ELSIF file.documentation;
    documentation.push({ status = file.status, title = file.documentation, path = file.path, abstract = file.abstract });
  ELSIF file.module;
    FOREACH module IN file.module;
      provides.push({ status = file.status, title = module.name, path = file.path });
    END;
  END;
END;
%>
<% IF modules.size %><strong>Modules</strong>
<% FOREACH module IN modules %>
  <div>
    <strong><a href="/module/<% IF release.status == 'latest'; module.title; ELSE; [release.author, release.name, module.path].join("/"); END %>"><% module.title %></a></strong><% IF module.abstract %> - <% module.abstract; END %>
  </div>
<% END %>

<br><% END %>
<% IF documentation.size %><strong>Documentation</strong>
<% FOREACH module IN documentation %>
  <div>
    <strong><a href="/module/<% IF release.status == 'latest'; module.title; ELSE; [release.author, release.name, module.path].join("/"); END %>"><% module.title %></a></strong><% IF module.abstract %> - <% module.abstract; END %>
  </div>
<% END %>

<br><% END %>
<% IF provides.size %><strong>Provides</strong>
<% FOREACH module IN provides.sort('title') %>
  <div>
    <strong><a href="/source/<% release.author; '/'; release.name; '/'; module.path %>"><% module.title %></a></strong>
 
  </div>
<% END %>

<br><% END %>
<% IF root.size %><strong>Other files</strong>
<% FOREACH file IN root %>
<div><strong><a href="/source/<% release.author; '/'; release.name; '/'; file.name %>"><% file.name %></a></strong></div>
<% END; END %>

</div>
