<%- rss = 'distribution/' _ module.distribution %>
<strong><big>
  <a href="/author/<% module.author %>"><% module.author%></a>
  &nbsp;/&nbsp;
  <a href="/release/<% module.author %>/<% module.release %>"><% module.release %></a>
  &nbsp;/&nbsp;
  <% module.path %>
  </big></strong><br><br>

<div class="search-bar">
  <strong>Tools</strong>
  <ul>
    <li><a href="http://api.metacpan.org/source/<% module.author %>/<% module.release %>/<% module.path %>">Raw code</a></li>
    <li><a href="/raw/<% module.author %>/<% module.release %>/<% module.path %>?download=1">Download</a></li>
    <li><a href="javascript:togglePod(<% module.pod_lines.json %>)">Toggle pod</a></li>
  </ul>
  <hr>
  <strong>Info</strong>
  <ul>
    <li><% module.sloc %> lines of code</li>
    <li><% module.slop %> lines of pod</li>
    <li><% module.stat.size | format_bytes %></li>
  </ul>
</div>

<div class="content">
<pre class="brush: pl; class-name: 'highlight'; toolbar: false;" id="source"><% source %></pre>
</div>

<script type="text/javascript">

//document.getElementById('source').style.visibility = 'hidden';
//SyntaxHighlighter.all();
$(document).ready(function() {
togglePod(<% module.pod_lines.json %>);
});
</script>
