<%- menu = [{
  title = "Home",
  path = ["/", "/search"]
},
{
  title = "Recent",
  path = ["/recent"]
},
{
  title = "Mirrors",
  path = ["/mirrors"]
},
{
  title = "News",
  path = ["http://blogs.perl.org/users/mo/"]
},
{
  title = "FAQ",
  path = ["/faq"]
},
{
  title = "Feedback",
  path = ["https://github.com/CPAN-API/metacpan-web/issues"]
},
] %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title><% IF title; title; ELSE; 'Search the CPAN'; END %> - beta.metacpan.org</title>
  <link href="/static/css/shCore.css" rel="stylesheet" type="text/css">
  <link href="/static/css/shThemeDefault.css" rel="stylesheet" type="text/css">
  <link href="/static/style.css" rel="stylesheet" type="text/css">
  <script src="/static/js/jquery.min.js" type="text/javascript"></script>
  <script src="/static/js/shCore.js" type="text/javascript"></script>
  <script src="/static/js/shBrushPerl.js" type="text/javascript"></script>
  <script src="/static/js/cpan.js" type="text/javascript"></script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21976206-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div class="header">
    <% FOREACH item IN menu; bold = item.path.grep(->{ this == req.uri.path} ).size;
    IF bold; '<strong>' | none; END %><a href="<% item.path.0 %>"><% item.title %></a><% IF bold; '</strong>' | none; END; END %>
    <div class="spacer"></div>
  </div>
  <% IF req.uri.path != '/' %>
  <div style="text-align: center" class="home">
    <form action="<% IF req.uri.path == '/mirrors'; req.uri.path; ELSE; '/search'; END %>">
      <div style="display: inline-block; text-align: left">
        <a href="/" style="float: left"><img src="/static/images/cpan_banner.png" width="168" alt="CPAN Logo"></a>
        <div style="float: left; padding-top: 13px; padding-left: 10px">
      <div class="ds">
        <input type="text" name="q" size="41" id="search-input" value="<% req.parameters.get_all('q').join(' ') | html %>"><input type="submit" value="Search" class="g-button" />
      </div>
      <br><small><% IF total.defined; total | format_number %> result<% IF total != 1; 's'; END %> (<% took / 1000 %> seconds)<% END %></small></div>
      
      <div style="float: left; width: 168px"></div>
      </div>
    </form>
  </div>
  <% END %>
  <br>
  <div id="content"><% content | none %>
  </div>
  <div class="footer"><br><br>
     &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
    <a href="/release/MetaCPAN-Documentation">API</a> &nbsp; &nbsp; &nbsp; &nbsp; 
    <a href="/about">About MetaCPAN</a> &nbsp; &nbsp; &nbsp; &nbsp; 
    <a href="https://github.com/CPAN-API/metacpan-web">Fork Me</a>
    <div class="comment">
      Timezone is UTC
    </div>
  </div>
  <!-- Piwik --> 
  <script type="text/javascript">
  var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.netcubed.de/" : "http://stats.netcubed.de/");
  document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
  </script><script type="text/javascript">
  try {
  var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
  piwikTracker.trackPageView();
  piwikTracker.enableLinkTracking();
  } catch( err ) {}
  </script><noscript><p><img src="http://stats.netcubed.de/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
  <!-- End Piwik Tracking Code -->
  </body>
</html>