<%- menu = [{
  title = "Home",
  path = ["/", "/search"]
},
{
  title = "Recent",
  path = ["/recent"]
},
{
  title = "Mirrors",
  path = ["/mirrors"]
},
{
  title = "News",
  path = ["http://blogs.perl.org/users/mo/"]
},
{
  title = "FAQ",
  path = ["https://github.com/CPAN-API/cpan-api/wiki/FAQ"]
},
{
  title = "Feedback",
  path = ["https://github.com/CPAN-API/metacpan-web/issues"]
},
] %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title><% IF title; title; ELSE; 'Search the CPAN'; END %> - beta.metacpan.org</title>
  <%- IF rss %><link rel="alternate" type="application/rss+xml" title="RSS" href="http://metacpan.org/feed/<% rss %>" /><% END %>
  <link href="/static/css/shCore.css?1" rel="stylesheet" type="text/css">
  <link href="/static/css/shThemeDefault.css?1" rel="stylesheet" type="text/css">
  <link href="/static/style.css?3" rel="stylesheet" type="text/css">
  <link rel="search" href="/static/opensearch.xml" type="application/opensearchdescription+xml" title="MetaCPAN">
  <script src="/static/js/jquery.min.js?1" type="text/javascript"></script>
  <script src="/static/js/jquery.cookie.js?1" type="text/javascript"></script>
  <script src="/static/js/jquery.relatize_date.js?1" type="text/javascript"></script>
  <script src="/static/js/shCore.js?1" type="text/javascript"></script>
  <script src="/static/js/shBrushPerl.js?1" type="text/javascript"></script>
  <script src="/static/js/cpan.js?1" type="text/javascript"></script>
  <script type="text/javascript">
  var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.netcubed.de/" : "http://stats.netcubed.de/");
  document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
  </script><script type="text/javascript">
  try {
  var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
  piwikTracker.trackPageView();
  piwikTracker.enableLinkTracking();
  } catch( err ) {}
  </script>
</head>
<body>
  <div class="header">
    <% FOREACH item IN menu; bold = item.path.grep(->{ this == req.uri.path} ).size;
    IF bold; '<strong>' | none; END %><a href="<% item.path.0 %>"><% item.title %></a><% IF bold; '</strong>' | none; END; END %>
    <div class="spacer" style="text-align: right"><strong>BETA</strong></div>
  </div>
<div style="float: right; text-align: right; padding-right: 5px; margin-top: -15px"><a href="https://github.com/CPAN-API/metacpan-web/issues/new"><small>Problem?<br>Open an issue!</small></a></div>
  <% IF req.uri.path != '/' %>
  <div style="text-align: center" class="home">
    <form action="<% IF req.uri.path == '/mirrors'; req.uri.path; ELSE; '/search'; END %>">
      <div style="display: inline-block; text-align: left">
        <a href="/" style="float: left"><img src="/static/images/cpan_banner.png" width="168" height="49" alt="CPAN Logo"></a>
        <div style="float: left; padding-top: 13px; padding-left: 10px">
      <div class="ds">
        <input type="text" name="q" size="41" id="search-input" value="<% req.parameters.get_all('q').join(' ') or req.parameters.lucky %>"><input type="submit" value="Search" class="g-button" />
      </div>
      <br><small style="font-size: 0.8em"><% IF total.defined; IF page > 1 %>Page <% page %> of <% END; total | format_number %> result<% IF total != 1; 's'; END %> (<% took / 1000 %> seconds)<% END %></small></div>
      
      <div style="float: left; width: 168px"></div>
      </div>
    </form>
  </div>
  <% END %>
  <br>
  <div id="content"><% content | none %>
  </div>
  <br><br><br>
  <table class="footer" width="100%">
    <tr>
      <td style="width: 200px; float: left"></td>
     <td style="text-align: center">
    <a href="https://github.com/CPAN-API/cpan-api/wiki/Beta-API-docs">API</a> &nbsp; &nbsp; &nbsp; &nbsp; 
    <a href="https://github.com/CPAN-API/cpan-api/wiki">About MetaCPAN</a> &nbsp; &nbsp; &nbsp; &nbsp; 
    <a href="https://github.com/CPAN-API/metacpan-web">Fork metacpan.org</a>
    </td>
    <td style="width: 200px; float: right; text-align: right; font-size: 0.7em; color: #999; position: relative">
      Hosting generously<br>sponsored by <a href="http://speedchilli.com">speedchilli</a><br><a href="http://speedchilli.com"><img src="/static/images/speedchilli.png" width=150 height=32></a></td>
  </tr>
</table>
  <!-- Piwik --> 
  <noscript><p><img src="http://stats.netcubed.de/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
  <!-- End Piwik Tracking Code -->
  </body>
</html>
