<% title = 'Popular Distributions' %>
<%- INCLUDE inc/recent-bar.html %>

<div class="content">
<table class="table table-condensed table-striped table-releases">
  <thead>
    <tr>
      <th class="position"></th>
      <th class="name pull-left-phone">Distribution</th>
      <th class="date"></th>
    </tr>
  </thead>
  <tbody>
  <% FOREACH leader IN leaders %>
    <tr>
      <td class="number<% IF loop.index() < 5; " strong"; END %>"><% loop.index() + 1 %></td>
      <td class="name"><strong><a href="/release/<% IF leader.term END %>"><% leader.term %></a></strong></td>
      <td class="number"><% leader.count %> ++</td>
    </tr>
  <% END %>
  </tbody>
</table>
</div>
