<%
  rss = 'recent';
  rss_title = 'Recent CPAN Uploads - MetaCPAN';
  title = "Recent Favorites";
  INCLUDE inc/recent-bar.html;
%>

<div class="content">
<%-
favorites = [];
FOREACH favorite IN recent;
  date = datetime(favorite.date);
  day = date.strftime("%A, %e %B %Y");
  IF day != last;
    IF favorites.size;
      INCLUDE inc/favorite-table.html favorites = favorites day = last;
    END;
    favorites = [];
    last = day;
  END;
  favorites.push(favorite);
END; %>
<% INCLUDE inc/favorite-table.html favorites = favorites %>
<% INCLUDE inc/pager.html size = page_size %>
</div>
