name: Maybe Enable Auto-Merge
on:
  pull_request_target:
    types: [opened]

jobs:
  enable-auto-merge:
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'metacpan-bot'
    steps:
    - uses: alexwilson/enable-github-automerge-action@1.0.0
      with:
        github-token: "${{ secrets.GITHUB_TOKEN }}"
